In [1]:
import pandas as pd
import numpy as np

In [2]:
# make sure you have the folder to save reference files in directory
store_folder = "reference"

In [3]:
Industry_dict = {1: 'Manufacturing & Trading',
                 2: 'Retail & Wholesale',
                 3: 'Financial Services',
                 4: 'Professional Services',
                 5: 'Innovation & Technology'}

In [4]:
City_dict = {1: 'Hong Kong', 
            2: 'Macao', 
            3: 'Guangzhou', 
            4: 'Shenzhen', 
            5: 'Foshan', 
            6: 'Dongguan', 
            7: 'Huizhou', 
            8: 'Zhongshan', 
            9: 'Jiangmen', 
            10: 'Zhuhai', 
            11: 'Zhaoqing'}

City_group_dict = {1: 'Hong Kong', 
                2: 'Macao and other GBA cities', #
                3: 'Guangzhou', 
                4: 'Shenzhen', 
                5: 'Foshan', 
                6: 'Dongguan', 
                7: 'Macao and other GBA cities', #
                8: 'Macao and other GBA cities',# 
                9: 'Macao and other GBA cities', #
                10: 'Macao and other GBA cities', #
                11: 'Macao and other GBA cities'#
                }

In [5]:
# import dataset excel xlsx
df = pd.read_excel("test_dataset_2020-05-18.xlsx")
df.head()

,Unnamed: 0,Q01,Q02,Q03A,Q03B,Q04A,Q04B,Q05A,Q05B,Q06A,...,Q22.01,Q22.02,Q22.03,Q22.04,Q22.05,Q22.06,Q22.07,Q22.08,Q22.09,Q23
0,1,11,4,3,2,2,2,2,3,1,...,0,0,0,0,0,0,0,1,0,1
1,2,9,4,2,2,1,2,3,1,1,...,0,1,1,0,0,0,0,0,0,4
2,3,10,3,3,1,1,2,1,2,1,...,0,0,1,0,0,0,0,1,0,3
3,4,4,5,1,2,2,2,2,3,4,...,0,0,0,0,0,1,0,0,0,1
4,5,9,3,1,2,2,2,2,2,3,...,0,0,1,1,0,0,0,0,0,6

#Part 0: Data Preparation - 1)GDP, 2)GBA_Company_DB_size, 3)survey sample size matrices

##Part 0.1: GDP

In [6]:
# import city GDP by industry excel xlsx
GDP_df = pd.read_excel("./metadata/1)citygroupGDP.xlsx",sheet_name='2017CitygroupGDP')
GDP_df

,City_group,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology,Total_GDP
0,Hong Kong,57313,13113,61603,40005,2347.0,341652
1,Guangzhou,80863,46740,28957,24722,25382.0,318480
2,Shenzhen,129434,35064,43311,10383,36529.0,333097
3,Foshan,77469,9495,6040,2921,NaN,139200
4,Dongguan,52849,12860,6778,7021,NaN,112297
5,Macao and other GBA cities,98626,23408,14424,11732,NaN,269009

In [7]:
# get the GDP city column, make sure the order of cities is same as the questionaire
City_group_rows=GDP_df['City_group'].values.tolist()
City_group_rows

['Hong Kong',
 'Guangzhou',
 'Shenzhen',
 'Foshan',
 'Dongguan',
 'Macao and other GBA cities']

##Part 0.2: GBA_TDC_DB_size

In [8]:
# import number_of_establishment_by_city excel xlsx
TDC_DB_size_df = pd.read_excel("./metadata/2)GBA_Company_DB_size.xlsx",sheet_name='TDC_DB_size')
# further make sure establishment matrix's row and column order are in accordance with the GDP one
TDC_DB_size_df=TDC_DB_size_df.loc[TDC_DB_size_df['City_group']==City_group_rows]
TDC_DB_size_df

,City_group,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
0,Hong Kong,56988,59160,5709,14063,14718.0
1,Guangzhou,38803,20124,844,2349,1662.0
2,Shenzhen,68120,33551,1232,3548,10108.0
3,Foshan,22128,4073,127,398,NaN
4,Dongguan,34668,5532,119,581,NaN
5,Macao and other GBA cities,33953,6630,292,1058,NaN

##Part 0.3: survey_size

In [9]:
# sample size of the GBA survey dataset by city and by industry
survey_size = df[['Q01', 'Q02']]
survey_size=survey_size.rename(columns={'Q01': "City", "Q02": "Industry"})
survey_size.head(10)

   City  Industry
0    11         4
1     9         4
2    10         3
3     4         5
4     9         3
5     9         3
6     1         3
7     6         2
8     4         5
9    11         4

In [10]:
survey_size['City_group'] = survey_size.loc[:,'City']

In [11]:
survey_size.head()

   City  Industry  City_group
0    11         4          11
1     9         4           9
2    10         3          10
3     4         5           4
4     9         3           9

In [12]:
survey_size = survey_size.replace({'City':City_dict,'Industry':Industry_dict,'City_group': City_group_dict})
survey_size.head()

       City                 Industry                  City_group
0  Zhaoqing    Professional Services  Macao and other GBA cities
1  Jiangmen    Professional Services  Macao and other GBA cities
2    Zhuhai       Financial Services  Macao and other GBA cities
3  Shenzhen  Innovation & Technology                    Shenzhen
4  Jiangmen       Financial Services  Macao and other GBA cities

##Part 0.3A: survey size by city

In [13]:
#survey_size = pd.crosstab(survey_size['Q01'],survey_size['Q02']) # <-this line is another function with same result
survey_size_by_city = survey_size.groupby(['City', 'Industry']).size().unstack()

In [14]:
# take a look first
survey_size_by_city

Industry,Financial Services,Innovation & Technology,Manufacturing & Trading,Professional Services,Retail & Wholesale
City,,,,,
Dongguan,13,16,16,22,23
Foshan,23,25,16,16,13
Guangzhou,12,16,10,26,24
Hong Kong,23,14,19,25,13
Huizhou,20,12,22,22,23
Jiangmen,20,12,26,14,16
Macao,22,23,19,23,24
Shenzhen,16,22,13,16,17
Zhaoqing,21,14,15,22,14
Zhongshan,25,15,16,16,16
Zhuhai,17,16,20,15,11

In [15]:
survey_size_by_city = survey_size_by_city.loc[:,TDC_DB_size_df.columns[1:]]

In [16]:
# export this survey_size_df to excel format for reference
survey_size_by_city.to_excel(f"{store_folder}/reference_Part0.3A_survey_size_by_city.xlsx", na_rep='N.A.', index=True)

##Part 0.3B: survey size by city group

In [17]:
survey_size_by_city_group = survey_size.groupby(['City_group', 'Industry']).size().unstack()
survey_size_by_city_group

Industry,Financial Services,Innovation & Technology,Manufacturing & Trading,Professional Services,Retail & Wholesale
City_group,,,,,
Dongguan,13,16,16,22,23
Foshan,23,25,16,16,13
Guangzhou,12,16,10,26,24
Hong Kong,23,14,19,25,13
Macao and other GBA cities,125,92,118,112,104
Shenzhen,16,22,13,16,17

In [18]:
# further make sure sample size matrix's row and column order are in accordance with GDP one
survey_size_by_city_group=survey_size_by_city_group.loc[City_group_rows][TDC_DB_size_df.columns[1:]]

In [19]:
survey_size_by_city_group

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
City_group,,,,,
Hong Kong,19,13,23,25,14
Guangzhou,10,24,12,26,16
Shenzhen,13,17,16,16,22
Foshan,16,13,23,16,25
Dongguan,16,23,13,22,16
Macao and other GBA cities,118,104,125,112,92

In [20]:
# wipe out industry label
survey_size_by_city_group.columns.name=''

In [21]:
survey_size_by_city_group_df = survey_size_by_city_group.reset_index()
# export this survey_size_df to excel format for reference
survey_size_by_city_group.to_excel(f"{store_folder}/reference_Part0.3B_survey_size_by_city_group.xlsx", na_rep='N.A.', index=True)
survey_size_by_city_group_df

,City_group,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
0,Hong Kong,19,13,23,25,14
1,Guangzhou,10,24,12,26,16
2,Shenzhen,13,17,16,16,22
3,Foshan,16,13,23,16,25
4,Dongguan,16,23,13,22,16
5,Macao and other GBA cities,118,104,125,112,92

#Part 1: Compile weighted-matrix from survey_size, establishment, GDP

##Part 1.1: Sample-sized weighted-matrix

In [22]:
survey_size_matrix = survey_size_by_city_group_df.values[:,1:]
survey_size_matrix

array([[19, 13, 23, 25, 14],
       [10, 24, 12, 26, 16],
       [13, 17, 16, 16, 22],
       [16, 13, 23, 16, 25],
       [16, 23, 13, 22, 16],
       [118, 104, 125, 112, 92]], dtype=object)

In [23]:
TDC_DB_size_matrix = TDC_DB_size_df.values[:,1:]
TDC_DB_size_matrix

array([[56988, 59160, 5709, 14063, 14718.0],
       [38803, 20124, 844, 2349, 1662.0],
       [68120, 33551, 1232, 3548, 10108.0],
       [22128, 4073, 127, 398, nan],
       [34668, 5532, 119, 581, nan],
       [33953, 6630, 292, 1058, nan]], dtype=object)

In [24]:
# perform element-wise matrix division to obtain SAMPLE_SIZE_weighted_matrix
# to magnify the weighting according to the TDC_DB_size.
SAMPLE_SIZE_weighted_matrix = TDC_DB_size_matrix/survey_size_matrix
SAMPLE_SIZE_weighted_matrix

array([[2999.3684210526317, 4550.7692307692305, 248.2173913043478,
        562.52, 1051.2857142857142],
       [3880.3, 838.5, 70.33333333333333, 90.34615384615384, 103.875],
       [5240.0, 1973.5882352941176, 77.0, 221.75, 459.45454545454544],
       [1383.0, 313.3076923076923, 5.521739130434782, 24.875, nan],
       [2166.75, 240.52173913043478, 9.153846153846153,
        26.40909090909091, nan],
       [287.73728813559325, 63.75, 2.336, 9.446428571428571, nan]],
      dtype=object)

In [25]:
# export this SAMPLE_SIZE_weighted_matrix to excel format for reference
pd.DataFrame(SAMPLE_SIZE_weighted_matrix, columns = TDC_DB_size_df.columns[1:], index = City_group_rows).to_excel(f"{store_folder}/reference_Part1.1_SAMPLE_SIZE_weighted_matrix.xlsx", \
                                                   na_rep='N.A.')

##Part 1.2: GDP-sized weighted-matrix

In [26]:
# have a look again
GDP_df

,City_group,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology,Total_GDP
0,Hong Kong,57313,13113,61603,40005,2347.0,341652
1,Guangzhou,80863,46740,28957,24722,25382.0,318480
2,Shenzhen,129434,35064,43311,10383,36529.0,333097
3,Foshan,77469,9495,6040,2921,NaN,139200
4,Dongguan,52849,12860,6778,7021,NaN,112297
5,Macao and other GBA cities,98626,23408,14424,11732,NaN,269009

In [27]:
# slice industry columns only
GDP_matrix = GDP_df.values[:,1:6]
GDP_matrix

array([[57313, 13113, 61603, 40005, 2347.0],
       [80863, 46740, 28957, 24722, 25382.0],
       [129434, 35064, 43311, 10383, 36529.0],
       [77469, 9495, 6040, 2921, nan],
       [52849, 12860, 6778, 7021, nan],
       [98626, 23408, 14424, 11732, nan]], dtype=object)

In [28]:
Total_City_GDP=sum(GDP_df['Total_GDP'])
Total_City_GDP

1513735

In [29]:
GDP_SIZE_weighted_matrix = GDP_matrix/Total_City_GDP
GDP_SIZE_weighted_matrix

array([[0.03786197716244918, 0.008662678738352485, 0.040696026715376206,
        0.02642800754425312, 0.001550469533967306],
       [0.05341952191103463, 0.03087726715706514, 0.01912950417345176,
        0.016331788589151998, 0.016767796212679233],
       [0.08550637991458214, 0.023163895926301498, 0.028612009367557728,
        0.006859192659217102, 0.02413170072700968],
       [0.051177385737926386, 0.006272564220289548, 0.003990130372885611,
        0.00192966404291372, nan],
       [0.03491298014513769, 0.008495542482667045, 0.004477666170102429,
        0.00463819624967382, nan],
       [0.06515407254241991, 0.015463737047765956, 0.009528748426904312,
        0.007750365817002315, nan]], dtype=object)

In [30]:
# export this GDP_SIZE_weighted_matrix to excel format for reference
pd.DataFrame(GDP_SIZE_weighted_matrix,columns = TDC_DB_size_df.columns[1:], index = City_group_rows).to_excel(f"{store_folder}/reference_Part1.2_GDP_SIZE_weighted_matrix.xlsx", \
                                                   na_rep='N.A.')

##Part 1.3: Calculate the weighted-matrix for each city with industry

In [31]:
# perform "element-wise" matrix multiplication
# beware that here is NOT matrix multiplication, "matrix multiplication" refers to dot-products calculation
# they are 2 different methods, what is using here is "element-wise" matrix multiplication 

WEIGHTED_MATRIX = np.multiply(SAMPLE_SIZE_weighted_matrix, GDP_SIZE_weighted_matrix)
WEIGHTED_MATRIX

array([[113.562018659666, 39.42185185853331, 10.101461587742728,
        14.866282803793265, 1.6299864714950578],
       [207.28377087138767, 25.89058851119912, 1.3454417935327736,
        1.4755142844583862, 1.7417548315920555],
       [448.0534307524104, 45.71599248372597, 2.203124721301945,
        1.5210259721813923, 11.087419588573356],
       [70.7783244755522, 1.9652426207107179, 0.022032459015498808,
        0.04800039306747879, nan],
       [75.64769972947708, 2.0433626527875695, 0.04098786724939915,
        0.12249054641184043, nan],
       [18.74725614434562, 0.9858132367950797, 0.022259156325248473,
        0.073213277092754, nan]], dtype=object)

In [32]:
WEIGHTED_DF = pd.DataFrame(WEIGHTED_MATRIX)
WEIGHTED_DF.columns = TDC_DB_size_df.columns[1:]
WEIGHTED_DF.index=City_group_rows
# illustrate the weighting for each sample by city & industry
WEIGHTED_DF

,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Hong Kong,113.562,39.4219,10.1015,14.8663,1.62999
Guangzhou,207.284,25.8906,1.34544,1.47551,1.74175
Shenzhen,448.053,45.716,2.20312,1.52103,11.0874
Foshan,70.7783,1.96524,0.0220325,0.0480004,NaN
Dongguan,75.6477,2.04336,0.0409879,0.122491,NaN
Macao and other GBA cities,18.7473,0.985813,0.0222592,0.0732133,NaN

In [33]:
# export to excel for reference
WEIGHTED_DF.to_excel(f"{store_folder}/reference_Part1.3_weighting_score_by_each_city_industry.xlsx",na_rep='N.A.')

##Part 1.4: Calculate the weighted-matrix for whole dataset

In [34]:
# multiply the WEIGHTED_MATRIX with survey_size_matrix
# This calculate the total weighting for each category in whole survey dataset 
# classified by 2 dimension (City and Industry)
WEIGHTED_SUM_MATRIX = np.multiply(WEIGHTED_MATRIX, survey_size_matrix)
WEIGHTED_SUM_MATRIX

array([[2157.678354533654, 512.484074160933, 232.33361651808275,
        371.6570700948316, 22.819810600930808],
       [2072.837708713877, 621.3741242687788, 16.145301522393282,
        38.36337139591804, 27.868077305472887],
       [5824.6945997813355, 777.1718722233414, 35.24999554083112,
        24.336415554902278, 243.92323094861382],
       [1132.4531916088351, 25.54815406923933, 0.5067465573564726,
        0.7680062890796606, nan],
       [1210.3631956716333, 46.9973410141141, 0.532842274242189,
        2.6947920210604894, nan],
       [2212.1762250327833, 102.52457662668829, 2.782394540656059,
        8.199887034388448, nan]], dtype=object)

In [35]:
WEIGHTED_SUM_score = pd.DataFrame(WEIGHTED_SUM_MATRIX)
WEIGHTED_SUM_score.columns = TDC_DB_size_df.columns[1:]
WEIGHTED_SUM_score.index = City_group_rows

In [36]:
WEIGHTED_SUM_score.to_excel(f"{store_folder}/reference_Part1.4_weighting_SUM_score.xlsx",na_rep='N.A.')
WEIGHTED_SUM_score

,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Hong Kong,2157.68,512.484,232.334,371.657,22.8198
Guangzhou,2072.84,621.374,16.1453,38.3634,27.8681
Shenzhen,5824.69,777.172,35.25,24.3364,243.923
Foshan,1132.45,25.5482,0.506747,0.768006,NaN
Dongguan,1210.36,46.9973,0.532842,2.69479,NaN
Macao and other GBA cities,2212.18,102.525,2.78239,8.19989,NaN

In [37]:
#Weighted Total Sum
WEIGHTED_TOTAL_SUM = np.nansum(np.nansum(WEIGHTED_SUM_MATRIX))
WEIGHTED_TOTAL_SUM

17724.484975903968

#Part 2: Compile weighted-index

In [38]:
# just have a look, 5 rows on the dataset
df.head()

,Unnamed: 0,Q01,Q02,Q03A,Q03B,Q04A,Q04B,Q05A,Q05B,Q06A,...,Q22.01,Q22.02,Q22.03,Q22.04,Q22.05,Q22.06,Q22.07,Q22.08,Q22.09,Q23
0,1,11,4,3,2,2,2,2,3,1,...,0,0,0,0,0,0,0,1,0,1
1,2,9,4,2,2,1,2,3,1,1,...,0,1,1,0,0,0,0,0,0,4
2,3,10,3,3,1,1,2,1,2,1,...,0,0,1,0,0,0,0,1,0,3
3,4,4,5,1,2,2,2,2,3,4,...,0,0,0,0,0,1,0,0,0,1
4,5,9,3,1,2,2,2,2,2,3,...,0,0,1,1,0,0,0,0,0,6

##Part 2.1: Convert the data with dictionary {up:1 to 1, same: 2 to 0, down: 3 to -1, N/A: 4 to NA}

In [39]:
conversion_dict ={1 : 1, 2 : 0, 3 : -1, 4: np.nan}

In [40]:
# Performance sub-index columns
performance_columns = ['Q03A','Q04A','Q05A','Q06A',
                       'Q07A','Q08A','Q09A','Q10A']

In [41]:
# Expectation sub-index columns
expectation_columns = ['Q03B','Q04B','Q05B','Q06B',
                       'Q07B','Q08B','Q09B','Q10B']

In [42]:
# Credit sub-index columns
credit_columns = ['Q13A','Q14A','Q15A','Q16A','Q17A']

In [43]:
# Calculation columns
calculation_columns = []

for i in range(3,18):
    calculation_columns.append(f'Q{i:02}A')
for i in range(3,18):    
    calculation_columns.append(f'Q{i:02}B')
    
print(calculation_columns)

['Q03A', 'Q04A', 'Q05A', 'Q06A', 'Q07A', 'Q08A', 'Q09A', 'Q10A', 'Q11A', 'Q12A', 'Q13A', 'Q14A', 'Q15A', 'Q16A', 'Q17A', 'Q03B', 'Q04B', 'Q05B', 'Q06B', 'Q07B', 'Q08B', 'Q09B', 'Q10B', 'Q11B', 'Q12B', 'Q13B', 'Q14B', 'Q15B', 'Q16B', 'Q17B']

In [44]:
# Acquire the selected useful columns and then perform conversion
df_converted = df[calculation_columns].replace(conversion_dict)
#df_converted = df.iloc[:,2:].replace(conversion_dict)
df_index = pd.concat([df[['Q01','Q02']], df_converted], sort=False, axis=1)
df_index.head(10)

,Q01,Q02,Q03A,Q04A,Q05A,Q06A,Q07A,Q08A,Q09A,Q10A,...,Q08B,Q09B,Q10B,Q11B,Q12B,Q13B,Q14B,Q15B,Q16B,Q17B
0,11,4,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,NaN,1.0,NaN,-1.0,-1.0,1.0,1.0,-1.0,0.0
1,9,4,0.0,1.0,-1.0,1.0,-1.0,-1.0,-1.0,1.0,...,1.0,0.0,-1.0,-1.0,NaN,1.0,0.0,-1.0,1.0,1.0
2,10,3,-1.0,1.0,1.0,1.0,-1.0,1.0,1.0,0.0,...,0.0,-1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
3,4,5,1.0,0.0,0.0,NaN,1.0,-1.0,0.0,-1.0,...,1.0,1.0,-1.0,1.0,1.0,-1.0,-1.0,1.0,1.0,-1.0
4,9,3,1.0,0.0,0.0,-1.0,0.0,1.0,1.0,1.0,...,-1.0,0.0,1.0,-1.0,0.0,-1.0,-1.0,-1.0,1.0,1.0
5,9,3,0.0,-1.0,-1.0,-1.0,0.0,-1.0,NaN,0.0,...,1.0,0.0,0.0,1.0,-1.0,-1.0,-1.0,1.0,0.0,1.0
6,1,3,1.0,0.0,1.0,1.0,-1.0,1.0,NaN,-1.0,...,1.0,0.0,1.0,1.0,NaN,0.0,0.0,1.0,-1.0,1.0
7,6,2,1.0,0.0,-1.0,-1.0,1.0,0.0,-1.0,-1.0,...,1.0,-1.0,-1.0,1.0,NaN,0.0,-1.0,1.0,-1.0,0.0
8,4,5,1.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,...,-1.0,0.0,-1.0,1.0,1.0,1.0,-1.0,1.0,0.0,1.0
9,11,4,0.0,-1.0,0.0,0.0,0.0,-1.0,0.0,0.0,...,0.0,-1.0,1.0,1.0,1.0,-1.0,1.0,1.0,0.0,0.0

In [45]:
# export this df_index to excel format for reference
df_index.to_excel(f"{store_folder}/reference_Part2.1_df_useful_cols_with_conversion.xlsx", na_rep='N.A.')

##Part 2.2: assign weighting score to each sample according to city group and industry

In [46]:
# mapping City, City_group, Industry in dataset
city_industry = df[['Q01','Q02']].copy()
city_industry['City']=city_industry['Q01']
city_industry = city_industry.replace({'City': City_dict})

city_industry['City_group'] = city_industry['Q01'].replace(City_group_dict)

city_industry['Industry'] = city_industry['Q02'].replace(Industry_dict)
# just have a look on top 10 rows
city_industry.head(10)

   Q01  Q02       City                  City_group                 Industry
0   11    4   Zhaoqing  Macao and other GBA cities    Professional Services
1    9    4   Jiangmen  Macao and other GBA cities    Professional Services
2   10    3     Zhuhai  Macao and other GBA cities       Financial Services
3    4    5   Shenzhen                    Shenzhen  Innovation & Technology
4    9    3   Jiangmen  Macao and other GBA cities       Financial Services
5    9    3   Jiangmen  Macao and other GBA cities       Financial Services
6    1    3  Hong Kong                   Hong Kong       Financial Services
7    6    2   Dongguan                    Dongguan       Retail & Wholesale
8    4    5   Shenzhen                    Shenzhen  Innovation & Technology
9   11    4   Zhaoqing  Macao and other GBA cities    Professional Services

In [47]:
for index, row in city_industry.iterrows():
    # assign the weighting score one by one from the WEIGHTED_DF from Part 1.3
    city_industry.at[index, 'weighting_score'] = WEIGHTED_DF.loc[row[3],row[4]]

In [48]:
city_industry.head(10)

,Q01,Q02,City,City_group,Industry,weighting_score
0,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213
1,9,4,Jiangmen,Macao and other GBA cities,Professional Services,0.073213
2,10,3,Zhuhai,Macao and other GBA cities,Financial Services,0.022259
3,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420
4,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259
5,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259
6,1,3,Hong Kong,Hong Kong,Financial Services,10.101462
7,6,2,Dongguan,Dongguan,Retail & Wholesale,2.043363
8,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420
9,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213

In [49]:
city_industry['weighting_score']

0       0.073213
1       0.073213
2       0.022259
3      11.087420
4       0.022259
         ...
995     0.073213
996    10.101462
997    18.747256
998     0.073213
999     0.073213
Name: weighting_score, Length: 1000, dtype: float64

In [50]:
# multiply the dataframe column Q03-10 A and B, 13-17A by the above weighting_score column
DF_INDEX_WEIGHTED = df_converted.multiply(city_industry['weighting_score'], axis="index")

In [51]:
DF_INDEX_WEIGHTED

,Q03A,Q04A,Q05A,Q06A,Q07A,Q08A,Q09A,Q10A,Q11A,Q12A,...,Q08B,Q09B,Q10B,Q11B,Q12B,Q13B,Q14B,Q15B,Q16B,Q17B
0,-0.073213,0.000000,0.000000,0.073213,0.000000,0.000000,0.000000,0.073213,0.073213,0.000000,...,0.073213,NaN,0.073213,NaN,-0.073213,-0.073213,0.073213,0.073213,-0.073213,0.000000
1,0.000000,0.073213,-0.073213,0.073213,-0.073213,-0.073213,-0.073213,0.073213,0.000000,0.000000,...,0.073213,0.000000,-0.073213,-0.073213,NaN,0.073213,0.000000,-0.073213,0.073213,0.073213
2,-0.022259,0.022259,0.022259,0.022259,-0.022259,0.022259,0.022259,0.000000,0.022259,NaN,...,0.000000,-0.022259,0.022259,0.022259,0.022259,0.022259,0.022259,0.000000,0.000000,0.022259
3,11.087420,0.000000,0.000000,NaN,11.087420,-11.087420,0.000000,-11.087420,0.000000,0.000000,...,11.087420,11.087420,-11.087420,11.087420,11.087420,-11.087420,-11.087420,11.087420,11.087420,-11.087420
4,0.022259,0.000000,0.000000,-0.022259,0.000000,0.022259,0.022259,0.022259,-0.022259,NaN,...,-0.022259,0.000000,0.022259,-0.022259,0.000000,-0.022259,-0.022259,-0.022259,0.022259,0.022259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.073213,0.073213,0.073213,0.073213,0.073213,0.073213,NaN,0.000000,0.000000,0.073213,...,0.073213,0.073213,-0.073213,NaN,-0.073213,0.073213,-0.073213,-0.073213,0.073213,0.000000
996,10.101462,-10.101462,0.000000,NaN,-10.101462,10.101462,0.000000,0.000000,NaN,10.101462,...,-10.101462,NaN,10.101462,10.101462,-10.101462,10.101462,0.000000,10.101462,-10.101462,-10.101462
997,0.000000,-18.747256,-18.747256,18.747256,18.747256,-18.747256,0.000000,-18.747256,18.747256,NaN,...,-18.747256,NaN,18.747256,18.747256,18.747256,0.000000,18.747256,-18.747256,0.000000,-18.747256
998,0.000000,0.073213,0.073213,0.000000,0.000000,-0.073213,0.073213,0.073213,0.000000,0.000000,...,-0.073213,NaN,0.073213,0.000000,0.073213,-0.073213,0.000000,0.073213,0.073213,-0.073213
999,0.000000,0.000000,0.000000,0.073213,0.000000,0.000000,0.073213,0.000000,-0.073213,0.073213,...,-0.073213,-0.073213,-0.073213,NaN,NaN,-0.073213,-0.073213,-0.073213,-0.073213,0.000000

In [52]:
# merge 2 dataframe
DF_INDEX_WEIGHTED = pd.concat([city_industry, DF_INDEX_WEIGHTED], sort=False, axis=1)

In [53]:
DF_INDEX_WEIGHTED.head(10)

,Q01,Q02,City,City_group,Industry,weighting_score,Q03A,Q04A,Q05A,Q06A,...,Q08B,Q09B,Q10B,Q11B,Q12B,Q13B,Q14B,Q15B,Q16B,Q17B
0,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,-0.073213,0.000000,0.000000,0.073213,...,0.073213,NaN,0.073213,NaN,-0.073213,-0.073213,0.073213,0.073213,-0.073213,0.000000
1,9,4,Jiangmen,Macao and other GBA cities,Professional Services,0.073213,0.000000,0.073213,-0.073213,0.073213,...,0.073213,0.000000,-0.073213,-0.073213,NaN,0.073213,0.000000,-0.073213,0.073213,0.073213
2,10,3,Zhuhai,Macao and other GBA cities,Financial Services,0.022259,-0.022259,0.022259,0.022259,0.022259,...,0.000000,-0.022259,0.022259,0.022259,0.022259,0.022259,0.022259,0.000000,0.000000,0.022259
3,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420,11.087420,0.000000,0.000000,NaN,...,11.087420,11.087420,-11.087420,11.087420,11.087420,-11.087420,-11.087420,11.087420,11.087420,-11.087420
4,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259,0.022259,0.000000,0.000000,-0.022259,...,-0.022259,0.000000,0.022259,-0.022259,0.000000,-0.022259,-0.022259,-0.022259,0.022259,0.022259
5,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259,0.000000,-0.022259,-0.022259,-0.022259,...,0.022259,0.000000,0.000000,0.022259,-0.022259,-0.022259,-0.022259,0.022259,0.000000,0.022259
6,1,3,Hong Kong,Hong Kong,Financial Services,10.101462,10.101462,0.000000,10.101462,10.101462,...,10.101462,0.000000,10.101462,10.101462,NaN,0.000000,0.000000,10.101462,-10.101462,10.101462
7,6,2,Dongguan,Dongguan,Retail & Wholesale,2.043363,2.043363,0.000000,-2.043363,-2.043363,...,2.043363,-2.043363,-2.043363,2.043363,NaN,0.000000,-2.043363,2.043363,-2.043363,0.000000
8,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420,11.087420,0.000000,0.000000,0.000000,...,-11.087420,0.000000,-11.087420,11.087420,11.087420,11.087420,-11.087420,11.087420,0.000000,11.087420
9,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,0.000000,-0.073213,0.000000,0.000000,...,0.000000,-0.073213,0.073213,0.073213,0.073213,-0.073213,0.073213,0.073213,0.000000,0.000000

In [54]:
# export this DF_INDEX_WEIGHTED to excel format for reference
DF_INDEX_WEIGHTED.to_excel(f"{store_folder}/reference_Part2.2_DF_INDEX_WEIGHTED.xlsx", na_rep='N.A.')

##Part 2.3: Weighted overall index for Headline, Performance, Expectation, Credit

###Part 2.3.1: responses_weighted_sum_byquestion, weighted_index_byquestion

In [55]:
# calculate each column responses weighting sum
responses_weighted_sum_byquestion = DF_INDEX_WEIGHTED[calculation_columns].sum()
responses_weighted_sum_byquestion

Q03A    -224.748591
Q04A     289.105608
Q05A     102.760394
Q06A   -2341.975022
Q07A    -105.150961
Q08A    -488.082746
Q09A   -1630.220619
Q10A   -4457.105905
Q11A    -658.109968
Q12A   -2400.104827
Q13A     596.970683
Q14A    2334.418700
Q15A   -1068.127210
Q16A    1931.264027
Q17A    -282.705347
Q03B    1910.635730
Q04B    -402.437416
Q05B    1105.225631
Q06B      79.520349
Q07B    1585.716197
Q08B    1654.205070
Q09B     996.157844
Q10B     195.089530
Q11B     673.803066
Q12B   -1070.904804
Q13B     275.136675
Q14B    1012.913416
Q15B   -2851.878766
Q16B   -1339.258818
Q17B    2718.643331
dtype: float64

In [56]:
weighted_index_byquestion = (responses_weighted_sum_byquestion / WEIGHTED_TOTAL_SUM * 100 + 100)/2
weighted_index_byquestion

Q03A    49.365994
Q04A    50.815554
Q05A    50.289883
Q06A    43.393390
Q07A    49.703374
Q08A    48.623140
Q09A    45.401219
Q10A    37.426698
Q11A    48.143500
Q12A    43.229409
Q13A    51.684028
Q14A    56.585293
Q15A    46.986860
Q16A    55.448012
Q17A    49.202501
Q03B    55.389820
Q04B    48.864742
Q05B    53.117793
Q06B    50.224323
Q07B    54.473236
Q08B    54.666440
Q09B    52.810118
Q10B    50.550339
Q11B    51.900769
Q12B    46.979024
Q13B    50.776149
Q14B    52.857385
Q15B    41.954974
Q16B    46.222009
Q17B    57.669174
dtype: float64

###Part 2.3.2: Weighted overall index for Performance sub-index

In [57]:
# Columns for Performance sub-index
weighted_index_byquestion[performance_columns]

Q03A    49.365994
Q04A    50.815554
Q05A    50.289883
Q06A    43.393390
Q07A    49.703374
Q08A    48.623140
Q09A    45.401219
Q10A    37.426698
dtype: float64

In [58]:
WEIGHTED_OVERALL_PERFORMANCE_SUB_INDEX = weighted_index_byquestion[performance_columns].mean()
WEIGHTED_OVERALL_PERFORMANCE_SUB_INDEX

46.877406504198774

###Part 2.3.3: Weighted overall index for Expectation sub-index

In [59]:
# Columns for Expectation sub-index
weighted_index_byquestion[expectation_columns]

Q03B    55.389820
Q04B    48.864742
Q05B    53.117793
Q06B    50.224323
Q07B    54.473236
Q08B    54.666440
Q09B    52.810118
Q10B    50.550339
dtype: float64

In [60]:
WEIGHTED_OVERALL_EXPECTATION_SUB_INDEX = weighted_index_byquestion[expectation_columns].mean()
WEIGHTED_OVERALL_EXPECTATION_SUB_INDEX

52.51210153054471

###Part 2.3.4: Weighted overall index for Credit sub-index

In [61]:
# Columns for Credit sub-index
weighted_index_byquestion[credit_columns]

Q13A    51.684028
Q14A    56.585293
Q15A    46.986860
Q16A    55.448012
Q17A    49.202501
dtype: float64

In [62]:
# Q13, Q14 are related to financing cost, need to adjusted to 100-X
weighted_index_byquestion['Q13A']= 100 - weighted_index_byquestion['Q13A']
weighted_index_byquestion['Q14A']= 100 - weighted_index_byquestion['Q14A']

In [63]:
weighted_index_byquestion[credit_columns]

Q13A    48.315972
Q14A    43.414707
Q15A    46.986860
Q16A    55.448012
Q17A    49.202501
dtype: float64

In [64]:
WEIGHTED_OVERALL_CREDIT_SUB_INDEX = weighted_index_byquestion[credit_columns].mean()
WEIGHTED_OVERALL_CREDIT_SUB_INDEX

48.673610027471035

###Part 2.3.5: Weighted overall Headline Index

In [65]:
WEIGHTED_OVERALL_HEADLINE_INDEX = np.mean([WEIGHTED_OVERALL_PERFORMANCE_SUB_INDEX,
                                         WEIGHTED_OVERALL_EXPECTATION_SUB_INDEX,
                                         WEIGHTED_OVERALL_CREDIT_SUB_INDEX])
WEIGHTED_OVERALL_HEADLINE_INDEX

49.35437268740484

###Part 2.3.6: Store the Indices to dataframe and export to Excel

In [66]:
WEIGHTED_INDEX_BYQUESTION_DF = pd.DataFrame({"responses_weighted_sum_byquestion": responses_weighted_sum_byquestion,
                                             "WEIGHTED_TOTAL_SUM":WEIGHTED_TOTAL_SUM,
                                             "weighted_index_byquestion": weighted_index_byquestion})
WEIGHTED_INDEX_BYQUESTION_DF

,responses_weighted_sum_byquestion,WEIGHTED_TOTAL_SUM,weighted_index_byquestion
Q03A,-224.748591,17724.484976,49.365994
Q04A,289.105608,17724.484976,50.815554
Q05A,102.760394,17724.484976,50.289883
Q06A,-2341.975022,17724.484976,43.393390
Q07A,-105.150961,17724.484976,49.703374
Q08A,-488.082746,17724.484976,48.623140
Q09A,-1630.220619,17724.484976,45.401219
Q10A,-4457.105905,17724.484976,37.426698
Q11A,-658.109968,17724.484976,48.143500
Q12A,-2400.104827,17724.484976,43.229409
Q13A,596.970683,17724.484976,48.315972
Q14A,2334.418700,17724.484976,43.414707
Q15A,-1068.127210,17724.484976,46.986860
Q16A,1931.264027,17724.484976,55.448012
Q17A,-282.705347,17724.484976,49.202501
Q03B,1910.635730,17724.484976,55.389820
Q04B,-402.437416,17724.484976,48.864742
Q05B,1105.225631,17724.484976,53.117793
Q06B,79.520349,17724.484976,50.224323
Q07B,1585.716197,17724.484976,54.473236
Q08B,1654.205070,17724.484976,54.666440
Q09B,996.157844,17724.484976,52.810118
Q10B,195.089530,17724.484976,50.550339
Q11B,673.803066,17724.484976,51.900769
Q12B,-1070.904804,17724.484976,46.979024
Q13B,275.136675,17724.484976,50.776149
Q14B,1012.913416,17724.484976,52.857385
Q15B,-2851.878766,17724.484976,41.954974
Q16B,-1339.258818,17724.484976,46.222009
Q17B,2718.643331,17724.484976,57.669174

In [67]:
WEIGHTED_INDEX_OVERALL_DF = pd.DataFrame({'WEIGHTED_OVERALL_HEADLINE_INDEX' : WEIGHTED_OVERALL_HEADLINE_INDEX,
                            'WEIGHTED_OVERALL_PERFORMANCE_SUB_INDEX': WEIGHTED_OVERALL_PERFORMANCE_SUB_INDEX,
                            'WEIGHTED_OVERALL_EXPECTATION_SUB_INDEX': WEIGHTED_OVERALL_EXPECTATION_SUB_INDEX,
                            'WEIGHTED_OVERALL_CREDIT_SUB_INDEX': WEIGHTED_OVERALL_CREDIT_SUB_INDEX},
                            index=[0])    

WEIGHTED_INDEX_OVERALL_DF

,WEIGHTED_OVERALL_HEADLINE_INDEX,WEIGHTED_OVERALL_PERFORMANCE_SUB_INDEX,WEIGHTED_OVERALL_EXPECTATION_SUB_INDEX,WEIGHTED_OVERALL_CREDIT_SUB_INDEX
0,49.354373,46.877407,52.512102,48.67361

In [68]:
# export excel file
with pd.ExcelWriter(f'{store_folder}/reference_Part2.3.6_WEIGHTED_INDEX_OVERALL.xlsx') as writer:  
    WEIGHTED_INDEX_BYQUESTION_DF.to_excel(writer, na_rep='N.A.',
                               sheet_name='WEIGHTED_INDEX_BYQUESTION')
    WEIGHTED_INDEX_OVERALL_DF.to_excel(writer, sheet_name='WEIGHTED_INDEX_OVERALL',index=False)

#Part 3: Compile weighted-index by Industry

In [69]:
# have a look first on part 1.4
WEIGHTED_SUM_score

,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Hong Kong,2157.68,512.484,232.334,371.657,22.8198
Guangzhou,2072.84,621.374,16.1453,38.3634,27.8681
Shenzhen,5824.69,777.172,35.25,24.3364,243.923
Foshan,1132.45,25.5482,0.506747,0.768006,NaN
Dongguan,1210.36,46.9973,0.532842,2.69479,NaN
Macao and other GBA cities,2212.18,102.525,2.78239,8.19989,NaN

##Part 3.1: Weighted sum by industry

In [70]:
WEIGHTED_SUM_BY_INDUSTRY = WEIGHTED_SUM_score.sum()
WEIGHTED_SUM_BY_INDUSTRY.columns=["WEIGHTED_SUM_BYINDUSTRY"]
WEIGHTED_SUM_BY_INDUSTRY_DF=pd.DataFrame(WEIGHTED_SUM_BY_INDUSTRY,columns=["WEIGHTED_SUM_BY_INDUSTRY"]).T
WEIGHTED_SUM_BY_INDUSTRY_DF

,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
WEIGHTED_SUM_BY_INDUSTRY,14610.203275,2086.100142,287.550897,446.019542,294.611119

In [71]:
# export WEIGHTED_SUM_BYINDUSTRY
WEIGHTED_SUM_BY_INDUSTRY_DF.to_excel(f"{store_folder}/reference_Part3.1_WEIGHTED_SUM_BY_INDUSTRY.xlsx", \
                                                                                 na_rep='N.A.')

In [72]:
# just have a look first
DF_INDEX_WEIGHTED.head(10)

,Q01,Q02,City,City_group,Industry,weighting_score,Q03A,Q04A,Q05A,Q06A,...,Q08B,Q09B,Q10B,Q11B,Q12B,Q13B,Q14B,Q15B,Q16B,Q17B
0,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,-0.073213,0.000000,0.000000,0.073213,...,0.073213,NaN,0.073213,NaN,-0.073213,-0.073213,0.073213,0.073213,-0.073213,0.000000
1,9,4,Jiangmen,Macao and other GBA cities,Professional Services,0.073213,0.000000,0.073213,-0.073213,0.073213,...,0.073213,0.000000,-0.073213,-0.073213,NaN,0.073213,0.000000,-0.073213,0.073213,0.073213
2,10,3,Zhuhai,Macao and other GBA cities,Financial Services,0.022259,-0.022259,0.022259,0.022259,0.022259,...,0.000000,-0.022259,0.022259,0.022259,0.022259,0.022259,0.022259,0.000000,0.000000,0.022259
3,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420,11.087420,0.000000,0.000000,NaN,...,11.087420,11.087420,-11.087420,11.087420,11.087420,-11.087420,-11.087420,11.087420,11.087420,-11.087420
4,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259,0.022259,0.000000,0.000000,-0.022259,...,-0.022259,0.000000,0.022259,-0.022259,0.000000,-0.022259,-0.022259,-0.022259,0.022259,0.022259
5,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259,0.000000,-0.022259,-0.022259,-0.022259,...,0.022259,0.000000,0.000000,0.022259,-0.022259,-0.022259,-0.022259,0.022259,0.000000,0.022259
6,1,3,Hong Kong,Hong Kong,Financial Services,10.101462,10.101462,0.000000,10.101462,10.101462,...,10.101462,0.000000,10.101462,10.101462,NaN,0.000000,0.000000,10.101462,-10.101462,10.101462
7,6,2,Dongguan,Dongguan,Retail & Wholesale,2.043363,2.043363,0.000000,-2.043363,-2.043363,...,2.043363,-2.043363,-2.043363,2.043363,NaN,0.000000,-2.043363,2.043363,-2.043363,0.000000
8,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420,11.087420,0.000000,0.000000,0.000000,...,-11.087420,0.000000,-11.087420,11.087420,11.087420,11.087420,-11.087420,11.087420,0.000000,11.087420
9,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,0.000000,-0.073213,0.000000,0.000000,...,0.000000,-0.073213,0.073213,0.073213,0.073213,-0.073213,0.073213,0.073213,0.000000,0.000000

In [73]:
# just have a look for selecting one industry "Manufacturing & Trading"
DF_INDEX_WEIGHTED[DF_INDEX_WEIGHTED['Q02']==1]

,Q01,Q02,City,City_group,Industry,weighting_score,Q03A,Q04A,Q05A,Q06A,...,Q08B,Q09B,Q10B,Q11B,Q12B,Q13B,Q14B,Q15B,Q16B,Q17B
11,10,1,Zhuhai,Macao and other GBA cities,Manufacturing & Trading,18.747256,18.747256,18.747256,0.000000,0.000000,...,18.747256,-18.747256,18.747256,18.747256,18.747256,-18.747256,0.000000,18.747256,0.000000,0.000000
14,8,1,Zhongshan,Macao and other GBA cities,Manufacturing & Trading,18.747256,18.747256,0.000000,-18.747256,NaN,...,0.000000,0.000000,18.747256,0.000000,NaN,0.000000,18.747256,18.747256,18.747256,-18.747256
15,7,1,Huizhou,Macao and other GBA cities,Manufacturing & Trading,18.747256,18.747256,18.747256,-18.747256,-18.747256,...,18.747256,-18.747256,18.747256,NaN,0.000000,0.000000,18.747256,-18.747256,18.747256,-18.747256
18,8,1,Zhongshan,Macao and other GBA cities,Manufacturing & Trading,18.747256,-18.747256,-18.747256,-18.747256,NaN,...,18.747256,0.000000,-18.747256,0.000000,0.000000,-18.747256,-18.747256,18.747256,-18.747256,0.000000
27,4,1,Shenzhen,Shenzhen,Manufacturing & Trading,448.053431,-448.053431,0.000000,0.000000,NaN,...,448.053431,0.000000,-448.053431,448.053431,NaN,448.053431,448.053431,-448.053431,448.053431,448.053431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981,2,1,Macao,Macao and other GBA cities,Manufacturing & Trading,18.747256,-18.747256,-18.747256,0.000000,NaN,...,18.747256,0.000000,18.747256,NaN,NaN,0.000000,-18.747256,-18.747256,0.000000,0.000000
984,2,1,Macao,Macao and other GBA cities,Manufacturing & Trading,18.747256,-18.747256,0.000000,18.747256,18.747256,...,-18.747256,-18.747256,0.000000,-18.747256,0.000000,18.747256,0.000000,0.000000,18.747256,18.747256
985,9,1,Jiangmen,Macao and other GBA cities,Manufacturing & Trading,18.747256,0.000000,18.747256,18.747256,-18.747256,...,18.747256,18.747256,0.000000,0.000000,-18.747256,18.747256,18.747256,0.000000,-18.747256,0.000000
991,6,1,Dongguan,Dongguan,Manufacturing & Trading,75.647700,0.000000,-75.647700,75.647700,0.000000,...,75.647700,NaN,-75.647700,-75.647700,75.647700,75.647700,0.000000,75.647700,75.647700,-75.647700
997,11,1,Zhaoqing,Macao and other GBA cities,Manufacturing & Trading,18.747256,0.000000,-18.747256,-18.747256,18.747256,...,-18.747256,NaN,18.747256,18.747256,18.747256,0.000000,18.747256,-18.747256,0.000000,-18.747256

In [74]:
# acquire column names
industry_names = WEIGHTED_SUM_score.columns
selected_columns_list= performance_columns+expectation_columns+credit_columns
industry_names

Index(['Manufacturing & Trading', 'Retail & Wholesale', 'Financial Services',
       'Professional Services', 'Innovation & Technology'],
      dtype='object')

##Part 3.2: responses_weighted_sum_byquestion_industry

In [75]:
# calculate each column weighting sum by industry
responses_weighted_sum_byquestion_industry = DF_INDEX_WEIGHTED.groupby(['Industry']).sum()[calculation_columns].T[industry_names]
responses_weighted_sum_byquestion_industry

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Q03A,-166.374351,-143.077208,-20.846496,40.878470,6.467099e+01
Q04A,145.838919,-53.490764,39.615007,65.261166,9.188128e+01
Q05A,5.536858,95.782771,47.056326,47.113328,-9.272889e+01
Q06A,-2195.557865,-287.069145,42.231019,43.844299,5.457667e+01
Q07A,-404.408095,302.614571,-18.686702,-56.308749,7.163801e+01
Q08A,-549.902450,61.153448,-14.937639,-67.121538,8.272543e+01
Q09A,-1703.377888,54.791201,6.086477,1.303940,1.097565e+01
Q10A,-3793.103223,-531.632885,-31.921156,-20.458058,-7.999058e+01
Q11A,-491.494911,-197.266658,-17.980616,-23.117565,7.174978e+01
Q12A,-2675.630855,231.736295,12.710817,66.306467,-3.522755e+01
Q13A,409.936800,111.143000,-6.223959,105.919668,-2.380483e+01
Q14A,2025.010846,259.703230,2.246375,17.679499,2.977875e+01
Q15A,-851.682041,-236.366252,15.350807,-12.267531,1.683781e+01
Q16A,2104.855842,-271.571372,-33.282929,171.590713,-4.032823e+01
Q17A,-525.943540,315.557218,-52.415265,-19.903760,-9.769963e-15
Q03B,2114.188425,-158.343092,1.906457,-31.572934,-1.554312e+01
Q04B,-564.211882,144.783455,31.596489,53.772563,-6.837804e+01
Q05B,1180.147885,-134.446912,33.821234,16.022454,9.680970e+00
Q06B,82.688567,2.931904,-13.528663,-12.011448,1.943999e+01
Q07B,1294.783286,304.053168,26.869448,-64.543191,2.455348e+01
Q08B,1487.467737,157.933959,51.039525,-37.346191,-4.889959e+00
Q09B,962.740335,18.804220,-0.693958,-23.928935,3.923618e+01
Q10B,197.683262,20.740915,-10.200065,-49.545046,3.641046e+01
Q11B,346.380516,250.705021,39.036791,-17.756361,5.543710e+01
Q12B,-1405.011429,297.029502,-4.242458,10.883042,3.043654e+01
Q13B,348.926518,-57.696114,-14.530424,52.020270,-5.358357e+01
Q14B,1318.740655,-348.588188,-5.738023,26.212364,2.228661e+01
Q15B,-3003.994361,282.448052,14.424300,-148.352035,3.595278e+00
Q16B,-1249.802128,50.401452,-90.729156,50.434254,-9.956324e+01
Q17B,2467.152323,209.579867,12.067666,-1.565261,3.140874e+01

In [76]:
# export responses_weighted_sum_byquestion_industry
responses_weighted_sum_byquestion_industry.to_excel(f"{store_folder}/reference_Part3.2_responses_weighted_sum_byquestion_industry.xlsx", na_rep='N.A.')

##Part 3.3: WEIGHTED_INDEX_BYQUESTION_INDUSTRY

In [77]:
# have a look again
WEIGHTED_SUM_BY_INDUSTRY_DF.values

array([[14610.20327534,  2086.10014236,   287.55089695,   446.01954239,
          294.61111886]])

In [78]:
# divide each column by according industry weighted sum value(WEIGHTED_SUM_BYINDUSTRY)
responses_weighted_sum_byquestion_industry / WEIGHTED_SUM_BY_INDUSTRY

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Q03A,-0.011388,-0.068586,-0.072497,0.091652,2.195131e-01
Q04A,0.009982,-0.025642,0.137767,0.146319,3.118731e-01
Q05A,0.000379,0.045915,0.163645,0.105631,-3.147501e-01
Q06A,-0.150276,-0.137610,0.146865,0.098301,1.852499e-01
Q07A,-0.027680,0.145062,-0.064986,-0.126247,2.431613e-01
Q08A,-0.037638,0.029315,-0.051948,-0.150490,2.807954e-01
Q09A,-0.116588,0.026265,0.021167,0.002924,3.725471e-02
Q10A,-0.259620,-0.254845,-0.111010,-0.045868,-2.715124e-01
Q11A,-0.033641,-0.094562,-0.062530,-0.051831,2.435406e-01
Q12A,-0.183134,0.111086,0.044204,0.148663,-1.195731e-01
Q13A,0.028058,0.053278,-0.021645,0.237478,-8.080084e-02
Q14A,0.138603,0.124492,0.007812,0.039638,1.010782e-01
Q15A,-0.058294,-0.113305,0.053385,-0.027504,5.715265e-02
Q16A,0.144068,-0.130181,-0.115746,0.384716,-1.368863e-01
Q17A,-0.035998,0.151267,-0.182282,-0.044625,-3.316223e-17
Q03B,0.144706,-0.075904,0.006630,-0.070788,-5.275811e-02
Q04B,-0.038618,0.069404,0.109881,0.120561,-2.320959e-01
Q05B,0.080776,-0.064449,0.117618,0.035923,3.286016e-02
Q06B,0.005660,0.001405,-0.047048,-0.026930,6.598525e-02
Q07B,0.088622,0.145752,0.093442,-0.144709,8.334202e-02
Q08B,0.101810,0.075708,0.177497,-0.083732,-1.659801e-02
Q09B,0.065895,0.009014,-0.002413,-0.053650,1.331796e-01
Q10B,0.013530,0.009942,-0.035472,-0.111083,1.235882e-01
Q11B,0.023708,0.120179,0.135756,-0.039811,1.881704e-01
Q12B,-0.096166,0.142385,-0.014754,0.024400,1.033109e-01
Q13B,0.023882,-0.027657,-0.050532,0.116632,-1.818790e-01
Q14B,0.090262,-0.167100,-0.019955,0.058770,7.564754e-02
Q15B,-0.205609,0.135395,0.050163,-0.332613,1.220347e-02
Q16B,-0.085543,0.024161,-0.315524,0.113076,-3.379480e-01
Q17B,0.168865,0.100465,0.041967,-0.003509,1.066108e-01

In [79]:
WEIGHTED_INDEX_BYQUESTION_INDUSTRY = (responses_weighted_sum_byquestion_industry / WEIGHTED_SUM_BY_INDUSTRY * 100 + 100)/2
# export to excel for reference
#WEIGHTED_INDEX_BYQUESTION_INDUSTRY.to_excel(f"{store_folder}/reference_Part3.3_WEIGHTED_INDEX_BYQUESTION_INDUSTRY.xlsx", na_rep='N.A.')
WEIGHTED_INDEX_BYQUESTION_INDUSTRY

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Q03A,49.430623,46.570701,46.375164,54.582587,60.975654
Q04A,50.499100,48.717924,56.888347,57.315954,65.593655
Q05A,50.018949,52.295738,58.182260,55.281532,34.262493
Q06A,42.486217,43.119478,57.343225,54.915065,59.262493
Q07A,48.616008,57.253117,46.750714,43.687637,62.158063
Q08A,48.118088,51.465736,47.402610,42.475494,64.039768
Q09A,44.170588,51.313245,51.058330,50.146175,51.862735
Q10A,37.018992,37.257733,44.449477,47.706596,36.424378
Q11A,48.317974,45.271879,46.873490,47.408458,62.177032
Q12A,40.843280,55.554295,52.210186,57.433135,44.021347
Q13A,51.402913,52.663894,48.917764,61.873882,45.959958
Q14A,56.930126,56.224611,50.390605,51.981920,55.053908
Q15A,47.085318,44.334734,52.669233,48.624776,52.857633
Q16A,57.203376,43.490932,44.212689,69.235784,43.155685
Q17A,48.200081,57.563329,40.885915,47.768735,50.000000
Q03B,57.235315,46.204806,50.331499,46.460588,47.362095
Q04B,48.069117,53.470194,55.494069,56.028050,38.395204
Q05B,54.038780,46.777554,55.880913,51.796161,51.643008
Q06B,50.282982,50.070272,47.647606,48.653484,53.299263
Q07B,54.431093,57.287598,54.672120,42.764533,54.167101
Q08B,55.090510,53.785388,58.874868,45.813391,49.170099
Q09B,53.294753,50.450703,49.879333,47.317502,56.658979
Q10B,50.676525,50.497122,48.226390,44.445866,56.179411
Q11B,51.185406,56.008940,56.787806,48.009464,59.408521
Q12B,45.191677,57.119253,49.262312,51.220019,55.165545
Q13B,51.194119,48.617130,47.473417,55.831613,40.906050
Q14B,54.513081,41.644980,49.002260,52.938477,53.782377
Q15B,39.719533,56.769763,52.508130,33.369335,50.610174
Q16B,45.722845,51.208030,34.223809,55.653817,33.102600
Q17B,58.443251,55.023246,52.098353,49.824530,55.330541

In [80]:
# Q13, Q14 are related to financing cost, need to adjusted to 100-X
WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc['Q13A'] = 100-WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc['Q13A']
WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc['Q14A'] = 100-WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc['Q14A']
WEIGHTED_INDEX_BYQUESTION_INDUSTRY

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Q03A,49.430623,46.570701,46.375164,54.582587,60.975654
Q04A,50.499100,48.717924,56.888347,57.315954,65.593655
Q05A,50.018949,52.295738,58.182260,55.281532,34.262493
Q06A,42.486217,43.119478,57.343225,54.915065,59.262493
Q07A,48.616008,57.253117,46.750714,43.687637,62.158063
Q08A,48.118088,51.465736,47.402610,42.475494,64.039768
Q09A,44.170588,51.313245,51.058330,50.146175,51.862735
Q10A,37.018992,37.257733,44.449477,47.706596,36.424378
Q11A,48.317974,45.271879,46.873490,47.408458,62.177032
Q12A,40.843280,55.554295,52.210186,57.433135,44.021347
Q13A,48.597087,47.336106,51.082236,38.126118,54.040042
Q14A,43.069874,43.775389,49.609395,48.018080,44.946092
Q15A,47.085318,44.334734,52.669233,48.624776,52.857633
Q16A,57.203376,43.490932,44.212689,69.235784,43.155685
Q17A,48.200081,57.563329,40.885915,47.768735,50.000000
Q03B,57.235315,46.204806,50.331499,46.460588,47.362095
Q04B,48.069117,53.470194,55.494069,56.028050,38.395204
Q05B,54.038780,46.777554,55.880913,51.796161,51.643008
Q06B,50.282982,50.070272,47.647606,48.653484,53.299263
Q07B,54.431093,57.287598,54.672120,42.764533,54.167101
Q08B,55.090510,53.785388,58.874868,45.813391,49.170099
Q09B,53.294753,50.450703,49.879333,47.317502,56.658979
Q10B,50.676525,50.497122,48.226390,44.445866,56.179411
Q11B,51.185406,56.008940,56.787806,48.009464,59.408521
Q12B,45.191677,57.119253,49.262312,51.220019,55.165545
Q13B,51.194119,48.617130,47.473417,55.831613,40.906050
Q14B,54.513081,41.644980,49.002260,52.938477,53.782377
Q15B,39.719533,56.769763,52.508130,33.369335,50.610174
Q16B,45.722845,51.208030,34.223809,55.653817,33.102600
Q17B,58.443251,55.023246,52.098353,49.824530,55.330541

In [81]:
# export excel file
with pd.ExcelWriter(f"{store_folder}/reference_Part3.3_WEIGHTED_INDEX_BYQUESTION_INDUSTRY.xlsx") as writer:  
    responses_weighted_sum_byquestion_industry.to_excel(writer, na_rep='N.A.', sheet_name='responses_w_sum_byquestion_ind')
    WEIGHTED_SUM_BY_INDUSTRY_DF.to_excel(writer, sheet_name='WEIGHTED_SUM_BY_INDUSTRY')
    WEIGHTED_INDEX_BYQUESTION_INDUSTRY.to_excel(writer, sheet_name='WEIGHTED_INDEX_BYQ_INDUSTRY')

##Part 3.4: WEIGHTED_BY_INDUSTRY_INDEX

In [82]:
# Weighted performance index by industry
WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc[performance_columns]

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Q03A,49.430623,46.570701,46.375164,54.582587,60.975654
Q04A,50.499100,48.717924,56.888347,57.315954,65.593655
Q05A,50.018949,52.295738,58.182260,55.281532,34.262493
Q06A,42.486217,43.119478,57.343225,54.915065,59.262493
Q07A,48.616008,57.253117,46.750714,43.687637,62.158063
Q08A,48.118088,51.465736,47.402610,42.475494,64.039768
Q09A,44.170588,51.313245,51.058330,50.146175,51.862735
Q10A,37.018992,37.257733,44.449477,47.706596,36.424378

In [83]:
WEIGHTED_BY_INDUSTRY_PERFORMANCE_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc[performance_columns].mean()
WEIGHTED_BY_INDUSTRY_PERFORMANCE_SUB_INDEX

Industry
Manufacturing & Trading    46.294821
Retail & Wholesale         48.499209
Financial Services         51.056266
Professional Services      50.763880
Innovation & Technology    54.322405
dtype: float64

In [84]:
WEIGHTED_BY_INDUSTRY_EXPECTATION_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc[expectation_columns].mean()
WEIGHTED_BY_INDUSTRY_EXPECTATION_SUB_INDEX

Industry
Manufacturing & Trading    52.889884
Retail & Wholesale         51.067955
Financial Services         52.625850
Professional Services      47.909947
Innovation & Technology    50.859395
dtype: float64

In [85]:
WEIGHTED_BY_INDUSTRY_CREDIT_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_INDUSTRY.loc[credit_columns].mean()
WEIGHTED_BY_INDUSTRY_CREDIT_SUB_INDEX

Industry
Manufacturing & Trading    48.831147
Retail & Wholesale         47.300098
Financial Services         47.691894
Professional Services      50.354699
Innovation & Technology    48.999890
dtype: float64

In [86]:
WEIGHTED_BY_INDUSTRY_INDEX_DF = pd.DataFrame({
                                            'WEIGHTED_BY_INDUSTRY_PERFORMANCE_SUB_INDEX': WEIGHTED_BY_INDUSTRY_PERFORMANCE_SUB_INDEX,
                                            'WEIGHTED_BY_INDUSTRY_EXPECTATION_SUB_INDEX': WEIGHTED_BY_INDUSTRY_EXPECTATION_SUB_INDEX,
                                            'WEIGHTED_BY_INDUSTRY_CREDIT_SUB_INDEX': WEIGHTED_BY_INDUSTRY_CREDIT_SUB_INDEX}
                                            ).T    

WEIGHTED_BY_INDUSTRY_INDEX_DF

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
WEIGHTED_BY_INDUSTRY_PERFORMANCE_SUB_INDEX,46.294821,48.499209,51.056266,50.763880,54.322405
WEIGHTED_BY_INDUSTRY_EXPECTATION_SUB_INDEX,52.889884,51.067955,52.625850,47.909947,50.859395
WEIGHTED_BY_INDUSTRY_CREDIT_SUB_INDEX,48.831147,47.300098,47.691894,50.354699,48.999890

In [87]:
WEIGHTED_BY_INDUSTRY_INDEX_DF.loc['WEIGHTED_BY_INDUSTRY_HEADLINE_INDEX'] = WEIGHTED_BY_INDUSTRY_INDEX_DF.mean() 
WEIGHTED_BY_INDUSTRY_INDEX_DF

Industry,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
WEIGHTED_BY_INDUSTRY_PERFORMANCE_SUB_INDEX,46.294821,48.499209,51.056266,50.763880,54.322405
WEIGHTED_BY_INDUSTRY_EXPECTATION_SUB_INDEX,52.889884,51.067955,52.625850,47.909947,50.859395
WEIGHTED_BY_INDUSTRY_CREDIT_SUB_INDEX,48.831147,47.300098,47.691894,50.354699,48.999890
WEIGHTED_BY_INDUSTRY_HEADLINE_INDEX,49.338617,48.955754,50.458003,49.676175,51.393897

In [88]:
# export WEIGHTED_BY_INDUSTRY_INDEX result
WEIGHTED_BY_INDUSTRY_INDEX_DF.to_excel(f"{store_folder}/reference_Part3.4_WEIGHTED_BY_INDUSTRY_INDEX.xlsx", na_rep='N.A.')

#Part 4: Compile weighted-index by City group

In [89]:
# have a look first
WEIGHTED_SUM_score

,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Hong Kong,2157.68,512.484,232.334,371.657,22.8198
Guangzhou,2072.84,621.374,16.1453,38.3634,27.8681
Shenzhen,5824.69,777.172,35.25,24.3364,243.923
Foshan,1132.45,25.5482,0.506747,0.768006,NaN
Dongguan,1210.36,46.9973,0.532842,2.69479,NaN
Macao and other GBA cities,2212.18,102.525,2.78239,8.19989,NaN

##Part 4.1: Weighted sum by city group

In [90]:
WEIGHTED_SUM_BY_CITY_GROUP = WEIGHTED_SUM_score.sum(axis=1)
WEIGHTED_SUM_BY_CITY_GROUP_DF = pd.DataFrame(WEIGHTED_SUM_BY_CITY_GROUP,columns=["WEIGHTED_SUM_BY_CITY_GROUP"]).T
WEIGHTED_SUM_BY_CITY_GROUP_DF

,Hong Kong,Guangzhou,Shenzhen,Foshan,Dongguan,Macao and other GBA cities
WEIGHTED_SUM_BY_CITY_GROUP,3296.972926,2776.588583,6905.376114,1159.276099,1260.588171,2325.683083

In [91]:
# export WEIGHTED_SUM_BY_CITY_GROUP
WEIGHTED_SUM_BY_CITY_GROUP_DF.to_excel(f"{store_folder}/reference_Part4.1_WEIGHTED_SUM_BY_CITY_GROUP.xlsx",\
                                                                           na_rep='N.A.')

##Part 4.2: responses_weighted_sum_byquestion_city_group

In [92]:
# just have a look first
DF_INDEX_WEIGHTED.head(10)

,Q01,Q02,City,City_group,Industry,weighting_score,Q03A,Q04A,Q05A,Q06A,...,Q08B,Q09B,Q10B,Q11B,Q12B,Q13B,Q14B,Q15B,Q16B,Q17B
0,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,-0.073213,0.000000,0.000000,0.073213,...,0.073213,NaN,0.073213,NaN,-0.073213,-0.073213,0.073213,0.073213,-0.073213,0.000000
1,9,4,Jiangmen,Macao and other GBA cities,Professional Services,0.073213,0.000000,0.073213,-0.073213,0.073213,...,0.073213,0.000000,-0.073213,-0.073213,NaN,0.073213,0.000000,-0.073213,0.073213,0.073213
2,10,3,Zhuhai,Macao and other GBA cities,Financial Services,0.022259,-0.022259,0.022259,0.022259,0.022259,...,0.000000,-0.022259,0.022259,0.022259,0.022259,0.022259,0.022259,0.000000,0.000000,0.022259
3,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420,11.087420,0.000000,0.000000,NaN,...,11.087420,11.087420,-11.087420,11.087420,11.087420,-11.087420,-11.087420,11.087420,11.087420,-11.087420
4,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259,0.022259,0.000000,0.000000,-0.022259,...,-0.022259,0.000000,0.022259,-0.022259,0.000000,-0.022259,-0.022259,-0.022259,0.022259,0.022259
5,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259,0.000000,-0.022259,-0.022259,-0.022259,...,0.022259,0.000000,0.000000,0.022259,-0.022259,-0.022259,-0.022259,0.022259,0.000000,0.022259
6,1,3,Hong Kong,Hong Kong,Financial Services,10.101462,10.101462,0.000000,10.101462,10.101462,...,10.101462,0.000000,10.101462,10.101462,NaN,0.000000,0.000000,10.101462,-10.101462,10.101462
7,6,2,Dongguan,Dongguan,Retail & Wholesale,2.043363,2.043363,0.000000,-2.043363,-2.043363,...,2.043363,-2.043363,-2.043363,2.043363,NaN,0.000000,-2.043363,2.043363,-2.043363,0.000000
8,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420,11.087420,0.000000,0.000000,0.000000,...,-11.087420,0.000000,-11.087420,11.087420,11.087420,11.087420,-11.087420,11.087420,0.000000,11.087420
9,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,0.000000,-0.073213,0.000000,0.000000,...,0.000000,-0.073213,0.073213,0.073213,0.073213,-0.073213,0.073213,0.073213,0.000000,0.000000

In [93]:
responses_weighted_sum_byquestion_city_GROUP = DF_INDEX_WEIGHTED.groupby(['City_group']).sum()[selected_columns_list].T[City_group_rows] # measure column order is correct
responses_weighted_sum_byquestion_city_GROUP

City_group,Hong Kong,Guangzhou,Shenzhen,Foshan,Dongguan,Macao and other GBA cities
Q03A,445.555671,306.306309,-969.090275,-208.644490,-74.216790,275.340984
Q04A,-112.229703,52.167318,177.174322,-218.016667,244.720437,145.289901
Q05A,501.088059,-470.595864,-337.556221,281.314089,56.767001,71.743331
Q06A,-143.562907,-439.393168,-1878.245819,139.595342,230.907334,-251.275804
Q07A,-171.397163,-540.175747,280.364706,135.823019,234.340619,-44.106394
Q08A,-798.893316,134.411967,-59.379212,-2.123405,146.799742,91.101479
Q09A,11.731448,-361.837236,-890.107790,-348.157993,-149.171007,107.321959
Q10A,-666.574508,14.870976,-3012.891377,-430.631772,-241.696085,-120.183140
Q03B,311.139913,449.086157,1453.206155,-210.405925,1.838896,-94.229466
Q04B,2.454337,-71.896245,21.026488,283.205363,-308.435864,-328.791495
Q05B,153.842727,550.484013,-32.425448,424.655785,145.165785,-136.497231
Q06B,314.088325,-209.667745,22.928734,-62.917354,150.764449,-135.676061
Q07B,-790.070950,-473.842124,2457.757580,1.873177,316.730386,73.268127
Q08B,573.532130,3.081101,1349.405469,-126.158904,-67.433734,-78.220991
Q09B,3.355763,159.107520,444.483992,214.370249,147.372626,27.467694
Q10B,-351.074555,670.025003,-62.575976,430.451577,-217.953203,-273.783317
Q13A,-327.197228,-781.520304,1020.731426,212.526975,304.470683,167.959132
Q14A,444.497504,-716.137838,2530.043541,147.544442,-67.391800,-4.137150
Q15A,-156.118705,-705.534873,340.685422,-279.724978,3.719254,-271.153329
Q16A,321.123316,799.081633,901.729022,202.570922,-75.606239,-217.634627
Q17A,393.578021,-674.051697,38.267691,-10.036312,4.372221,-34.835271

In [94]:
# export responses_weighted_sum_byquestion_city_GROUP
responses_weighted_sum_byquestion_city_GROUP.to_excel(f"{store_folder}/reference_Part4.2_responses_weighted_sum_byquestion_city_GROUP.xlsx", na_rep='N.A.')

##Part 4.3: WEIGHTED_INDEX_BYQUESTION_CITY_GROUP

In [95]:
# divide each column by according city weighted sum value(WEIGHTED_SUM_BY_CITY)
responses_weighted_sum_byquestion_city_GROUP /WEIGHTED_SUM_BY_CITY_GROUP

City_group,Hong Kong,Guangzhou,Shenzhen,Foshan,Dongguan,Macao and other GBA cities
Q03A,0.135141,0.110317,-0.140339,-0.179978,-0.058875,0.118391
Q04A,-0.034040,0.018788,0.025657,-0.188063,0.194132,0.062472
Q05A,0.151984,-0.169487,-0.048883,0.242664,0.045032,0.030848
Q06A,-0.043544,-0.158249,-0.271998,0.120416,0.183174,-0.108044
Q07A,-0.051986,-0.194547,0.040601,0.117162,0.185898,-0.018965
Q08A,-0.242311,0.048409,-0.008599,-0.001832,0.116453,0.039172
Q09A,0.003558,-0.130317,-0.128901,-0.300324,-0.118334,0.046146
Q10A,-0.202178,0.005356,-0.436311,-0.371466,-0.191733,-0.051676
Q03B,0.094371,0.161740,0.210446,-0.181498,0.001459,-0.040517
Q04B,0.000744,-0.025894,0.003045,0.244295,-0.244676,-0.141374
Q05B,0.046662,0.198259,-0.004696,0.366311,0.115157,-0.058691
Q06B,0.095266,-0.075513,0.003320,-0.054273,0.119598,-0.058338
Q07B,-0.239635,-0.170656,0.355919,0.001616,0.251256,0.031504
Q08B,0.173957,0.001110,0.195414,-0.108826,-0.053494,-0.033634
Q09B,0.001018,0.057303,0.064368,0.184917,0.116908,0.011811
Q10B,-0.106484,0.241312,-0.009062,0.371311,-0.172898,-0.117722
Q13A,-0.099242,-0.281468,0.147817,0.183327,0.241531,0.072219
Q14A,0.134820,-0.257920,0.366388,0.127273,-0.053461,-0.001779
Q15A,-0.047352,-0.254101,0.049336,-0.241293,0.002950,-0.116591
Q16A,0.097399,0.287793,0.130584,0.174739,-0.059977,-0.093579
Q17A,0.119376,-0.242763,0.005542,-0.008657,0.003468,-0.014979

In [96]:
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP = (responses_weighted_sum_byquestion_city_GROUP /WEIGHTED_SUM_BY_CITY_GROUP * 100 + 100)/2
# export to excel for reference
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP

City_group,Hong Kong,Guangzhou,Shenzhen,Foshan,Dongguan,Macao and other GBA cities
Q03A,56.757042,55.515875,42.983074,41.001087,47.056263,55.919572
Q04A,48.297989,50.939414,51.282872,40.596862,59.706597,53.123596
Q05A,57.599214,41.525646,47.555845,62.133179,52.251608,51.542414
Q06A,47.822807,42.087536,36.400119,56.020798,59.158714,44.597806
Q07A,47.400689,40.272672,52.030047,55.858096,59.294892,49.051754
Q08A,37.884442,52.420452,49.570051,49.908417,55.822669,51.958596
Q09A,50.177912,43.484140,43.554965,34.983819,44.083278,52.307321
Q10A,39.891113,50.267792,28.184451,31.426695,40.413361,47.416175
Q03B,54.718569,58.087013,60.522281,40.925116,50.072938,47.974155
Q04B,50.037221,48.705313,50.152247,62.214750,37.766192,42.931292
Q05B,52.333091,59.912956,49.765216,68.315559,55.757859,47.065438
Q06B,54.763283,46.224364,50.166021,47.286352,55.979925,47.083092
Q07B,38.018237,41.467189,67.795972,50.080791,62.562802,51.575196
Q08B,58.697859,50.055484,59.770688,44.558721,47.325307,48.318322
Q09B,50.050892,52.865162,53.218391,59.245867,55.845391,50.590530
Q10B,44.675805,62.065615,49.546904,68.565533,41.355099,44.113916
Q13A,45.037915,35.926610,57.390846,59.166366,62.076533,53.610963
Q14A,56.740994,37.103998,68.319375,56.363645,47.326970,49.911055
Q15A,47.632393,37.294933,52.466813,37.935360,50.147521,44.170458
Q16A,54.869972,64.389630,56.529181,58.736958,47.001152,45.321060
Q17A,55.968778,37.861873,50.277086,49.567130,50.173420,49.251074

In [97]:
# Q13, Q14 are related to financing cost, need to adjusted to 100-X
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.loc['Q13A'] = 100-WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.loc['Q13A']
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.loc['Q14A'] = 100-WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.loc['Q14A']
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP

City_group,Hong Kong,Guangzhou,Shenzhen,Foshan,Dongguan,Macao and other GBA cities
Q03A,56.757042,55.515875,42.983074,41.001087,47.056263,55.919572
Q04A,48.297989,50.939414,51.282872,40.596862,59.706597,53.123596
Q05A,57.599214,41.525646,47.555845,62.133179,52.251608,51.542414
Q06A,47.822807,42.087536,36.400119,56.020798,59.158714,44.597806
Q07A,47.400689,40.272672,52.030047,55.858096,59.294892,49.051754
Q08A,37.884442,52.420452,49.570051,49.908417,55.822669,51.958596
Q09A,50.177912,43.484140,43.554965,34.983819,44.083278,52.307321
Q10A,39.891113,50.267792,28.184451,31.426695,40.413361,47.416175
Q03B,54.718569,58.087013,60.522281,40.925116,50.072938,47.974155
Q04B,50.037221,48.705313,50.152247,62.214750,37.766192,42.931292
Q05B,52.333091,59.912956,49.765216,68.315559,55.757859,47.065438
Q06B,54.763283,46.224364,50.166021,47.286352,55.979925,47.083092
Q07B,38.018237,41.467189,67.795972,50.080791,62.562802,51.575196
Q08B,58.697859,50.055484,59.770688,44.558721,47.325307,48.318322
Q09B,50.050892,52.865162,53.218391,59.245867,55.845391,50.590530
Q10B,44.675805,62.065615,49.546904,68.565533,41.355099,44.113916
Q13A,54.962085,64.073390,42.609154,40.833634,37.923467,46.389037
Q14A,43.259006,62.896002,31.680625,43.636355,52.673030,50.088945
Q15A,47.632393,37.294933,52.466813,37.935360,50.147521,44.170458
Q16A,54.869972,64.389630,56.529181,58.736958,47.001152,45.321060
Q17A,55.968778,37.861873,50.277086,49.567130,50.173420,49.251074

In [98]:
# export excel file
with pd.ExcelWriter(f"{store_folder}/reference_Part4.3_WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.xlsx") as writer:  
    responses_weighted_sum_byquestion_city_GROUP.to_excel(writer, na_rep='N.A.', sheet_name='responses_w_sum_byq_ctygrp')
    WEIGHTED_SUM_BY_CITY_GROUP_DF.to_excel(writer, sheet_name='WEIGHTED_SUM_BY_CITY_GROUP')
    WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.to_excel(writer, sheet_name='WEIGHTED_INDEX_BYQ_CITY_GROUP')

##Part 4.4: WEIGHTED_BY_CITY_GROUP_INDEX

In [99]:
WEIGHTED_BY_CITY_GROUP_PERFORMANCE_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.loc[performance_columns].mean()

WEIGHTED_BY_CITY_GROUP_EXPECTATION_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.loc[expectation_columns].mean()

WEIGHTED_BY_CITY_GROUP_CREDIT_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_CITY_GROUP.loc[credit_columns].mean()

WEIGHTED_BY_CITY_GROUP_INDEX_DF = pd.DataFrame({
                                            'WEIGHTED_BY_CITY_GROUP_PERFORMANCE_SUB_INDEX': WEIGHTED_BY_CITY_GROUP_PERFORMANCE_SUB_INDEX,
                                            'WEIGHTED_BY_CITY_GROUP_EXPECTATION_SUB_INDEX': WEIGHTED_BY_CITY_GROUP_EXPECTATION_SUB_INDEX,
                                            'WEIGHTED_BY_CITY_GROUP_CREDIT_SUB_INDEX': WEIGHTED_BY_CITY_GROUP_CREDIT_SUB_INDEX}
                                            ).T    

WEIGHTED_BY_CITY_GROUP_INDEX_DF.loc['WEIGHTED_BY_CITY_GROUP_HEADLINE_INDEX'] = WEIGHTED_BY_CITY_GROUP_INDEX_DF.mean() 
WEIGHTED_BY_CITY_GROUP_INDEX_DF

City_group,Hong Kong,Guangzhou,Shenzhen,Foshan,Dongguan,Macao and other GBA cities
WEIGHTED_BY_CITY_GROUP_PERFORMANCE_SUB_INDEX,48.228901,47.064191,43.945178,46.491119,52.223423,50.739655
WEIGHTED_BY_CITY_GROUP_EXPECTATION_SUB_INDEX,50.411870,52.422887,55.117215,55.149086,50.833189,47.456493
WEIGHTED_BY_CITY_GROUP_CREDIT_SUB_INDEX,51.338447,53.303166,46.712572,46.141887,47.583718,47.044115
WEIGHTED_BY_CITY_GROUP_HEADLINE_INDEX,49.993073,50.930081,48.591655,49.260697,50.213443,48.413421

In [100]:
# export WEIGHTED_BY_CITY_GROUP_INDEX result
WEIGHTED_BY_CITY_GROUP_INDEX_DF.to_excel(f"{store_folder}/reference_Part4.4_WEIGHTED_BY_CITY_GROUP_INDEX.xlsx", na_rep='N.A.')

#Part 5: Compile weighted-index by City Group and then by Industry

In [101]:
# just have a look
City_group_rows

['Hong Kong',
 'Guangzhou',
 'Shenzhen',
 'Foshan',
 'Dongguan',
 'Macao and other GBA cities']

In [102]:
# just have a look
WEIGHTED_SUM_score

,Manufacturing & Trading,Retail & Wholesale,Financial Services,Professional Services,Innovation & Technology
Hong Kong,2157.68,512.484,232.334,371.657,22.8198
Guangzhou,2072.84,621.374,16.1453,38.3634,27.8681
Shenzhen,5824.69,777.172,35.25,24.3364,243.923
Foshan,1132.45,25.5482,0.506747,0.768006,NaN
Dongguan,1210.36,46.9973,0.532842,2.69479,NaN
Macao and other GBA cities,2212.18,102.525,2.78239,8.19989,NaN

##Part 5.1: WEIGHTED_SUM_score_1D

In [103]:
WEIGHTED_SUM_score_1D = WEIGHTED_SUM_score.values.ravel()

In [104]:
WEIGHTED_SUM_score_1D

array([2157.678354533654, 512.484074160933, 232.33361651808275,
       371.6570700948316, 22.819810600930808, 2072.837708713877,
       621.3741242687788, 16.145301522393282, 38.36337139591804,
       27.868077305472887, 5824.6945997813355, 777.1718722233414,
       35.24999554083112, 24.336415554902278, 243.92323094861382,
       1132.4531916088351, 25.54815406923933, 0.5067465573564726,
       0.7680062890796606, nan, 1210.3631956716333, 46.9973410141141,
       0.532842274242189, 2.6947920210604894, nan, 2212.1762250327833,
       102.52457662668829, 2.782394540656059, 8.199887034388448, nan],
      dtype=object)

In [105]:
WEIGHTED_SUM_score_1D.shape

(30,)

In [106]:
# export WEIGHTED_SUM_score_CITY_GROUP_1D
pd.DataFrame(WEIGHTED_SUM_score_1D).T.to_excel(f"{store_folder}/reference_Part5.1_WEIGHTED_SUM_score_1D.xlsx", na_rep='N.A.',index=False)
pd.DataFrame(WEIGHTED_SUM_score_1D).T

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,2157.68,512.484,232.334,371.657,22.8198,2072.84,621.374,16.1453,38.3634,27.8681,...,1210.36,46.9973,0.532842,2.69479,NaN,2212.18,102.525,2.78239,8.19989,NaN

##Part 5.2: responses_weighted_sum_byquestion_city_GROUP then further by industry

In [107]:
# have a look from part 2.2
DF_INDEX_WEIGHTED

,Q01,Q02,City,City_group,Industry,weighting_score,Q03A,Q04A,Q05A,Q06A,...,Q08B,Q09B,Q10B,Q11B,Q12B,Q13B,Q14B,Q15B,Q16B,Q17B
0,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,-0.073213,0.000000,0.000000,0.073213,...,0.073213,NaN,0.073213,NaN,-0.073213,-0.073213,0.073213,0.073213,-0.073213,0.000000
1,9,4,Jiangmen,Macao and other GBA cities,Professional Services,0.073213,0.000000,0.073213,-0.073213,0.073213,...,0.073213,0.000000,-0.073213,-0.073213,NaN,0.073213,0.000000,-0.073213,0.073213,0.073213
2,10,3,Zhuhai,Macao and other GBA cities,Financial Services,0.022259,-0.022259,0.022259,0.022259,0.022259,...,0.000000,-0.022259,0.022259,0.022259,0.022259,0.022259,0.022259,0.000000,0.000000,0.022259
3,4,5,Shenzhen,Shenzhen,Innovation & Technology,11.087420,11.087420,0.000000,0.000000,NaN,...,11.087420,11.087420,-11.087420,11.087420,11.087420,-11.087420,-11.087420,11.087420,11.087420,-11.087420
4,9,3,Jiangmen,Macao and other GBA cities,Financial Services,0.022259,0.022259,0.000000,0.000000,-0.022259,...,-0.022259,0.000000,0.022259,-0.022259,0.000000,-0.022259,-0.022259,-0.022259,0.022259,0.022259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,0.073213,0.073213,0.073213,0.073213,...,0.073213,0.073213,-0.073213,NaN,-0.073213,0.073213,-0.073213,-0.073213,0.073213,0.000000
996,1,3,Hong Kong,Hong Kong,Financial Services,10.101462,10.101462,-10.101462,0.000000,NaN,...,-10.101462,NaN,10.101462,10.101462,-10.101462,10.101462,0.000000,10.101462,-10.101462,-10.101462
997,11,1,Zhaoqing,Macao and other GBA cities,Manufacturing & Trading,18.747256,0.000000,-18.747256,-18.747256,18.747256,...,-18.747256,NaN,18.747256,18.747256,18.747256,0.000000,18.747256,-18.747256,0.000000,-18.747256
998,7,4,Huizhou,Macao and other GBA cities,Professional Services,0.073213,0.000000,0.073213,0.073213,0.000000,...,-0.073213,NaN,0.073213,0.000000,0.073213,-0.073213,0.000000,0.073213,0.073213,-0.073213
999,11,4,Zhaoqing,Macao and other GBA cities,Professional Services,0.073213,0.000000,0.000000,0.000000,0.073213,...,-0.073213,-0.073213,-0.073213,NaN,NaN,-0.073213,-0.073213,-0.073213,-0.073213,0.000000

In [108]:
bycity_GROUP_then_industry = DF_INDEX_WEIGHTED.groupby(['City_group','Industry']).sum()[selected_columns_list]
bycity_GROUP_then_industry

                                                            Q03A        Q04A  \
City_group                 Industry
Dongguan                   Financial Services       0.000000e+00   -0.122964
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading -7.564770e+01  226.943099
                           Professional Services   -6.124527e-01   -0.489962
                           Retail & Wholesale       2.043363e+00   18.390264
Foshan                     Financial Services       6.938894e-18    0.022032
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading -2.123350e+02 -212.334973
                           Professional Services   -2.400020e-01    0.192002
                           Retail & Wholesale       3.930485e+00   -5.895728
Guangzhou                  Financial Services      -2.690884e+00    2.690884
                           Innovation & Technology -3.483510e+00   19.159303
                           Manufacturing & Trading  4.145675e+02    0.000000
                           Professional Services    1.475514e+00    4.426543
                           Retail & Wholesale      -1.035624e+02   25.890589
Hong Kong                  Financial Services      -2.020292e+01   30.304385
                           Innovation & Technology  1.629986e+00   -4.889959
                           Manufacturing & Trading  3.406861e+02    0.000000
                           Professional Services    4.459885e+01   59.465131
                           Retail & Wholesale       7.884370e+01 -197.109259
Macao and other GBA cities Financial Services      -1.558141e-01    0.111296
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading  2.624616e+02  131.230793
                           Professional Services    2.196398e-01    0.146427
                           Retail & Wholesale       1.281557e+01   13.801385
Shenzhen                   Financial Services       2.203125e+00    6.609374
                           Innovation & Technology  6.652452e+01   77.611937
                           Manufacturing & Trading -8.961069e+02    0.000000
                           Professional Services   -4.563078e+00    1.521026
                           Retail & Wholesale      -1.371480e+02   91.431985

                                                          Q05A         Q06A  \
City_group                 Industry
Dongguan                   Financial Services        -0.122964     0.000000
                           Innovation & Technology    0.000000     0.000000
                           Manufacturing & Trading   75.647700   226.943099
                           Professional Services     -0.367472    -0.122491
                           Retail & Wholesale       -18.390264     4.086725
Foshan                     Financial Services         0.022032    -0.044065
                           Innovation & Technology    0.000000     0.000000
                           Manufacturing & Trading  283.113298   141.556649
                           Professional Services      0.144001     0.048000
                           Retail & Wholesale        -1.965243    -1.965243
Guangzhou                  Financial Services         4.036325     0.000000
                           Innovation & Technology   -6.967019     6.967019
                           Manufacturing & Trading -207.283771  -414.567542
                           Professional Services     -1.475514    -5.902057
                           Retail & Wholesale      -258.905885   -25.890589
Hong Kong                  Financial Services        40.405846    40.405846
                           Innovation & Technology   -8.149932     3.259973
                           Manufacturing & Trading  227.124037  -113.562019
                           Professional Services     44.598848    44.598848
                           Retail & Wholesale       197.109259  -118.265556
Macao and other GBA cities Financial Services         0.511961    -0.333887
                           Innovation & Technology    0.000000     0.000000
                           Manufacturing & Trading   74.989025  -243.714330
                           Professional Services      1.171412     0.658919
                           Retail & Wholesale        -4.929066    -7.886506
Shenzhen                   Financial Services         2.203125     2.203125
                           Innovation & Technology  -77.611937    44.349678
                           Manufacturing & Trading -448.053431 -1792.213723
                           Professional Services      3.042052     4.563078
                           Retail & Wholesale       182.863970  -137.147977

                                                            Q07A        Q08A  \
City_group                 Industry
Dongguan                   Financial Services      -4.098787e-02   -0.163951
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading  2.269431e+02  151.295399
                           Professional Services   -7.349433e-01   -0.244981
                           Retail & Wholesale       8.173451e+00   -4.086725
Foshan                     Financial Services       6.609738e-02   -0.110162
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading  1.415566e+02    0.000000
                           Professional Services    9.600079e-02   -0.048000
                           Retail & Wholesale      -5.895728e+00   -1.965243
Guangzhou                  Financial Services      -5.381767e+00    0.000000
                           Innovation & Technology  3.483510e+00    3.483510
                           Manufacturing & Trading -6.218513e+02    0.000000
                           Professional Services    5.902057e+00    1.475514
                           Retail & Wholesale       7.767177e+01  129.452943
Hong Kong                  Financial Services       0.000000e+00  -10.101462
                           Innovation & Technology  1.629986e+00    1.629986
                           Manufacturing & Trading -1.135620e+02 -794.934131
                           Professional Services   -5.946513e+01  -74.331414
                           Retail & Wholesale      -1.421085e-14   78.843704
Macao and other GBA cities Financial Services      -1.112958e-01   -0.155814
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading -3.749451e+01   93.736281
                           Professional Services   -5.857062e-01    1.464266
                           Retail & Wholesale      -5.914879e+00   -3.943253
Shenzhen                   Financial Services      -1.321875e+01   -4.406249
                           Innovation & Technology  6.652452e+01   77.611937
                           Manufacturing & Trading  0.000000e+00    0.000000
                           Professional Services   -1.521026e+00    4.563078
                           Retail & Wholesale       2.285800e+02 -137.147977

                                                          Q09A          Q10A  \
City_group                 Industry
Dongguan                   Financial Services        -0.163951 -8.197573e-02
                           Innovation & Technology    0.000000  0.000000e+00
                           Manufacturing & Trading -151.295399 -2.269431e+02
                           Professional Services      0.244981 -3.674716e-01
                           Retail & Wholesale         2.043363 -1.430354e+01
Foshan                     Financial Services        -0.066097 -6.609738e-02
                           Innovation & Technology    0.000000  0.000000e+00
                           Manufacturing & Trading -353.891622 -4.246699e+02
                           Professional Services     -0.096001  0.000000e+00
                           Retail & Wholesale         5.895728 -5.895728e+00
Guangzhou                  Financial Services         2.690884 -2.690884e+00
                           Innovation & Technology   -1.741755  8.708774e+00
                           Manufacturing & Trading -414.567542  0.000000e+00
                           Professional Services      0.000000  8.853086e+00
                           Retail & Wholesale        51.781177 -7.105427e-15
Hong Kong                  Financial Services        10.101462 -2.020292e+01
                           Innovation & Technology    1.629986  0.000000e+00
                           Manufacturing & Trading    0.000000 -3.406861e+02
                           Professional Services      0.000000 -2.973257e+01
                           Retail & Wholesale         0.000000 -2.759530e+02
Macao and other GBA cities Financial Services         0.133555 -6.677747e-02
                           Innovation & Technology    0.000000  0.000000e+00
                           Manufacturing & Trading  112.483537 -1.124835e+02
                           Professional Services     -0.366066 -7.321328e-01
                           Retail & Wholesale        -4.929066 -6.900693e+00
Shenzhen                   Financial Services        -6.609374 -8.812499e+00
                           Innovation & Technology   11.087420 -8.869936e+01
                           Manufacturing & Trading -896.106862 -2.688321e+03
                           Professional Services      1.521026  1.521026e+00
                           Retail & Wholesale         0.000000 -2.285800e+02

                                                            Q03B  \
City_group                 Industry
Dongguan                   Financial Services      -8.197573e-02
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading  0.000000e+00
                           Professional Services   -1.224905e-01
                           Retail & Wholesale       2.043363e+00
Foshan                     Financial Services      -1.321948e-01
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading -2.123350e+02
                           Professional Services    9.600079e-02
                           Retail & Wholesale       1.965243e+00
Guangzhou                  Financial Services       6.727209e+00
                           Innovation & Technology  1.741755e+00
                           Manufacturing & Trading  6.218513e+02
                           Professional Services    0.000000e+00
                           Retail & Wholesale      -1.812341e+02
Hong Kong                  Financial Services       0.000000e+00
                           Innovation & Technology  4.889959e+00
                           Manufacturing & Trading  4.542481e+02
                           Professional Services   -2.973257e+01
                           Retail & Wholesale      -1.182656e+02
Macao and other GBA cities Financial Services      -2.003324e-01
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading -9.373628e+01
                           Professional Services   -2.928531e-01
                           Retail & Wholesale      -2.220446e-16
Shenzhen                   Financial Services      -4.406249e+00
                           Innovation & Technology -2.217484e+01
                           Manufacturing & Trading  1.344160e+03
                           Professional Services   -1.521026e+00
                           Retail & Wholesale       1.371480e+02

                                                            Q04B  ...  \
City_group                 Industry                               ...
Dongguan                   Financial Services      -2.049393e-01  ...
                           Innovation & Technology  0.000000e+00  ...
                           Manufacturing & Trading -3.025908e+02  ...
                           Professional Services    4.899622e-01  ...
                           Retail & Wholesale      -6.130088e+00  ...
Foshan                     Financial Services       4.406492e-02  ...
                           Innovation & Technology  0.000000e+00  ...
                           Manufacturing & Trading  2.831133e+02  ...
                           Professional Services    4.800039e-02  ...
                           Retail & Wholesale       0.000000e+00  ...
Guangzhou                  Financial Services       9.418093e+00  ...
                           Innovation & Technology -3.483510e+00  ...
                           Manufacturing & Trading -2.072838e+02  ...
                           Professional Services    0.000000e+00  ...
                           Retail & Wholesale       1.294529e+02  ...
Hong Kong                  Financial Services       2.020292e+01  ...
                           Innovation & Technology  1.629986e+00  ...
                           Manufacturing & Trading  0.000000e+00  ...
                           Professional Services    5.946513e+01  ...
                           Retail & Wholesale      -7.884370e+01  ...
Macao and other GBA cities Financial Services      -6.677747e-02  ...
                           Innovation & Technology  0.000000e+00  ...
                           Manufacturing & Trading -3.374506e+02  ...
                           Professional Services   -1.464266e-01  ...
                           Retail & Wholesale       8.872319e+00  ...
Shenzhen                   Financial Services       2.203125e+00  ...
                           Innovation & Technology -6.652452e+01  ...
                           Manufacturing & Trading  1.136868e-13  ...
                           Professional Services   -6.084104e+00  ...
                           Retail & Wholesale       9.143198e+01  ...

                                                            Q06B  \
City_group                 Industry
Dongguan                   Financial Services      -4.098787e-02
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading  1.512954e+02
                           Professional Services   -4.899622e-01
                           Retail & Wholesale       0.000000e+00
Foshan                     Financial Services       0.000000e+00
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading -7.077832e+01
                           Professional Services    0.000000e+00
                           Retail & Wholesale       7.860970e+00
Guangzhou                  Financial Services       5.381767e+00
                           Innovation & Technology -1.219228e+01
                           Manufacturing & Trading -2.072838e+02
                           Professional Services    4.426543e+00
                           Retail & Wholesale       7.105427e-15
Hong Kong                  Financial Services      -1.010146e+01
                           Innovation & Technology -1.629986e+00
                           Manufacturing & Trading  3.406861e+02
                           Professional Services   -1.486628e+01
                           Retail & Wholesale      -1.421085e-14
Macao and other GBA cities Financial Services       4.451831e-02
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading -1.312308e+02
                           Professional Services    4.392797e-01
                           Retail & Wholesale      -4.929066e+00
Shenzhen                   Financial Services      -8.812499e+00
                           Innovation & Technology  3.326226e+01
                           Manufacturing & Trading  0.000000e+00
                           Professional Services   -1.521026e+00
                           Retail & Wholesale       0.000000e+00

                                                            Q07B  \
City_group                 Industry
Dongguan                   Financial Services      -1.639515e-01
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading  3.025908e+02
                           Professional Services    0.000000e+00
                           Retail & Wholesale       1.430354e+01
Foshan                     Financial Services      -4.406492e-02
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading -2.842171e-14
                           Professional Services   -4.800039e-02
                           Retail & Wholesale       1.965243e+00
Guangzhou                  Financial Services       2.690884e+00
                           Innovation & Technology -8.708774e+00
                           Manufacturing & Trading -4.145675e+02
                           Professional Services   -1.475514e+00
                           Retail & Wholesale      -5.178118e+01
Hong Kong                  Financial Services       2.020292e+01
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading -9.084961e+02
                           Professional Services   -5.946513e+01
                           Retail & Wholesale       1.576874e+02
Macao and other GBA cities Financial Services      -2.225916e-01
                           Innovation & Technology  0.000000e+00
                           Manufacturing & Trading  7.498902e+01
                           Professional Services   -5.124929e-01
                           Retail & Wholesale      -9.858132e-01
Shenzhen                   Financial Services       4.406249e+00
                           Innovation & Technology  3.326226e+01
                           Manufacturing & Trading  2.240267e+03
                           Professional Services   -3.042052e+00
                           Retail & Wholesale       1.828640e+02

                                                            Q08B        Q09B  \
City_group                 Industry
Dongguan                   Financial Services      -8.197573e-02    0.163951
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading -7.564770e+01  151.295399
                           Professional Services    1.224905e-01    0.000000
                           Retail & Wholesale       8.173451e+00   -4.086725
Foshan                     Financial Services      -1.321948e-01    0.022032
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading -1.415566e+02  212.334973
                           Professional Services   -1.920016e-01    0.048000
                           Retail & Wholesale       1.572194e+01    1.965243
Guangzhou                  Financial Services      -1.345442e+00    1.345442
                           Innovation & Technology  0.000000e+00   -3.483510
                           Manufacturing & Trading  0.000000e+00    0.000000
                           Professional Services    4.426543e+00    5.902057
                           Retail & Wholesale      -7.105427e-15  155.343531
Hong Kong                  Financial Services       5.050731e+01    0.000000
                           Innovation & Technology -4.889959e+00   -1.629986
                           Manufacturing & Trading  4.542481e+02  113.562019
                           Professional Services   -4.459885e+01  -29.732566
                           Retail & Wholesale       1.182656e+02  -78.843704
Macao and other GBA cities Financial Services      -1.112958e-01   -0.022259
                           Innovation & Technology  0.000000e+00    0.000000
                           Manufacturing & Trading -9.373628e+01   37.494512

In [109]:
# adjust multi-index position
bycity_GROUP_then_industry = bycity_GROUP_then_industry.reindex(City_group_rows, level='City_group')

In [110]:
# adjust multi-index position
bycity_GROUP_then_industry = bycity_GROUP_then_industry.reindex(industry_names, level='Industry')

In [111]:
bycity_GROUP_then_industry

                                                            Q03A        Q04A  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading  3.406861e+02    0.000000
                           Retail & Wholesale       7.884370e+01 -197.109259
                           Financial Services      -2.020292e+01   30.304385
                           Professional Services    4.459885e+01   59.465131
                           Innovation & Technology  1.629986e+00   -4.889959
Guangzhou                  Manufacturing & Trading  4.145675e+02    0.000000
                           Retail & Wholesale      -1.035624e+02   25.890589
                           Financial Services      -2.690884e+00    2.690884
                           Professional Services    1.475514e+00    4.426543
                           Innovation & Technology -3.483510e+00   19.159303
Shenzhen                   Manufacturing & Trading -8.961069e+02    0.000000
                           Retail & Wholesale      -1.371480e+02   91.431985
                           Financial Services       2.203125e+00    6.609374
                           Professional Services   -4.563078e+00    1.521026
                           Innovation & Technology  6.652452e+01   77.611937
Foshan                     Manufacturing & Trading -2.123350e+02 -212.334973
                           Retail & Wholesale       3.930485e+00   -5.895728
                           Financial Services       6.938894e-18    0.022032
                           Professional Services   -2.400020e-01    0.192002
                           Innovation & Technology  0.000000e+00    0.000000
Dongguan                   Manufacturing & Trading -7.564770e+01  226.943099
                           Retail & Wholesale       2.043363e+00   18.390264
                           Financial Services       0.000000e+00   -0.122964
                           Professional Services   -6.124527e-01   -0.489962
                           Innovation & Technology  0.000000e+00    0.000000
Macao and other GBA cities Manufacturing & Trading  2.624616e+02  131.230793
                           Retail & Wholesale       1.281557e+01   13.801385
                           Financial Services      -1.558141e-01    0.111296
                           Professional Services    2.196398e-01    0.146427
                           Innovation & Technology  0.000000e+00    0.000000

                                                          Q05A         Q06A  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading  227.124037  -113.562019
                           Retail & Wholesale       197.109259  -118.265556
                           Financial Services        40.405846    40.405846
                           Professional Services     44.598848    44.598848
                           Innovation & Technology   -8.149932     3.259973
Guangzhou                  Manufacturing & Trading -207.283771  -414.567542
                           Retail & Wholesale      -258.905885   -25.890589
                           Financial Services         4.036325     0.000000
                           Professional Services     -1.475514    -5.902057
                           Innovation & Technology   -6.967019     6.967019
Shenzhen                   Manufacturing & Trading -448.053431 -1792.213723
                           Retail & Wholesale       182.863970  -137.147977
                           Financial Services         2.203125     2.203125
                           Professional Services      3.042052     4.563078
                           Innovation & Technology  -77.611937    44.349678
Foshan                     Manufacturing & Trading  283.113298   141.556649
                           Retail & Wholesale        -1.965243    -1.965243
                           Financial Services         0.022032    -0.044065
                           Professional Services      0.144001     0.048000
                           Innovation & Technology    0.000000     0.000000
Dongguan                   Manufacturing & Trading   75.647700   226.943099
                           Retail & Wholesale       -18.390264     4.086725
                           Financial Services        -0.122964     0.000000
                           Professional Services     -0.367472    -0.122491
                           Innovation & Technology    0.000000     0.000000
Macao and other GBA cities Manufacturing & Trading   74.989025  -243.714330
                           Retail & Wholesale        -4.929066    -7.886506
                           Financial Services         0.511961    -0.333887
                           Professional Services      1.171412     0.658919
                           Innovation & Technology    0.000000     0.000000

                                                            Q07A        Q08A  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading -1.135620e+02 -794.934131
                           Retail & Wholesale      -1.421085e-14   78.843704
                           Financial Services       0.000000e+00  -10.101462
                           Professional Services   -5.946513e+01  -74.331414
                           Innovation & Technology  1.629986e+00    1.629986
Guangzhou                  Manufacturing & Trading -6.218513e+02    0.000000
                           Retail & Wholesale       7.767177e+01  129.452943
                           Financial Services      -5.381767e+00    0.000000
                           Professional Services    5.902057e+00    1.475514
                           Innovation & Technology  3.483510e+00    3.483510
Shenzhen                   Manufacturing & Trading  0.000000e+00    0.000000
                           Retail & Wholesale       2.285800e+02 -137.147977
                           Financial Services      -1.321875e+01   -4.406249
                           Professional Services   -1.521026e+00    4.563078
                           Innovation & Technology  6.652452e+01   77.611937
Foshan                     Manufacturing & Trading  1.415566e+02    0.000000
                           Retail & Wholesale      -5.895728e+00   -1.965243
                           Financial Services       6.609738e-02   -0.110162
                           Professional Services    9.600079e-02   -0.048000
                           Innovation & Technology  0.000000e+00    0.000000
Dongguan                   Manufacturing & Trading  2.269431e+02  151.295399
                           Retail & Wholesale       8.173451e+00   -4.086725
                           Financial Services      -4.098787e-02   -0.163951
                           Professional Services   -7.349433e-01   -0.244981
                           Innovation & Technology  0.000000e+00    0.000000
Macao and other GBA cities Manufacturing & Trading -3.749451e+01   93.736281
                           Retail & Wholesale      -5.914879e+00   -3.943253
                           Financial Services      -1.112958e-01   -0.155814
                           Professional Services   -5.857062e-01    1.464266
                           Innovation & Technology  0.000000e+00    0.000000

                                                          Q09A          Q10A  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading    0.000000 -3.406861e+02
                           Retail & Wholesale         0.000000 -2.759530e+02
                           Financial Services        10.101462 -2.020292e+01
                           Professional Services      0.000000 -2.973257e+01
                           Innovation & Technology    1.629986  0.000000e+00
Guangzhou                  Manufacturing & Trading -414.567542  0.000000e+00
                           Retail & Wholesale        51.781177 -7.105427e-15
                           Financial Services         2.690884 -2.690884e+00
                           Professional Services      0.000000  8.853086e+00
                           Innovation & Technology   -1.741755  8.708774e+00
Shenzhen                   Manufacturing & Trading -896.106862 -2.688321e+03
                           Retail & Wholesale         0.000000 -2.285800e+02
                           Financial Services        -6.609374 -8.812499e+00
                           Professional Services      1.521026  1.521026e+00
                           Innovation & Technology   11.087420 -8.869936e+01
Foshan                     Manufacturing & Trading -353.891622 -4.246699e+02
                           Retail & Wholesale         5.895728 -5.895728e+00
                           Financial Services        -0.066097 -6.609738e-02
                           Professional Services     -0.096001  0.000000e+00
                           Innovation & Technology    0.000000  0.000000e+00
Dongguan                   Manufacturing & Trading -151.295399 -2.269431e+02
                           Retail & Wholesale         2.043363 -1.430354e+01
                           Financial Services        -0.163951 -8.197573e-02
                           Professional Services      0.244981 -3.674716e-01
                           Innovation & Technology    0.000000  0.000000e+00
Macao and other GBA cities Manufacturing & Trading  112.483537 -1.124835e+02
                           Retail & Wholesale        -4.929066 -6.900693e+00
                           Financial Services         0.133555 -6.677747e-02
                           Professional Services     -0.366066 -7.321328e-01
                           Innovation & Technology    0.000000  0.000000e+00

                                                            Q03B  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading  4.542481e+02
                           Retail & Wholesale      -1.182656e+02
                           Financial Services       0.000000e+00
                           Professional Services   -2.973257e+01
                           Innovation & Technology  4.889959e+00
Guangzhou                  Manufacturing & Trading  6.218513e+02
                           Retail & Wholesale      -1.812341e+02
                           Financial Services       6.727209e+00
                           Professional Services    0.000000e+00
                           Innovation & Technology  1.741755e+00
Shenzhen                   Manufacturing & Trading  1.344160e+03
                           Retail & Wholesale       1.371480e+02
                           Financial Services      -4.406249e+00
                           Professional Services   -1.521026e+00
                           Innovation & Technology -2.217484e+01
Foshan                     Manufacturing & Trading -2.123350e+02
                           Retail & Wholesale       1.965243e+00
                           Financial Services      -1.321948e-01
                           Professional Services    9.600079e-02
                           Innovation & Technology  0.000000e+00
Dongguan                   Manufacturing & Trading  0.000000e+00
                           Retail & Wholesale       2.043363e+00
                           Financial Services      -8.197573e-02
                           Professional Services   -1.224905e-01
                           Innovation & Technology  0.000000e+00
Macao and other GBA cities Manufacturing & Trading -9.373628e+01
                           Retail & Wholesale      -2.220446e-16
                           Financial Services      -2.003324e-01
                           Professional Services   -2.928531e-01
                           Innovation & Technology  0.000000e+00

                                                            Q04B  ...  \
City_group                 Industry                               ...
Hong Kong                  Manufacturing & Trading  0.000000e+00  ...
                           Retail & Wholesale      -7.884370e+01  ...
                           Financial Services       2.020292e+01  ...
                           Professional Services    5.946513e+01  ...
                           Innovation & Technology  1.629986e+00  ...
Guangzhou                  Manufacturing & Trading -2.072838e+02  ...
                           Retail & Wholesale       1.294529e+02  ...
                           Financial Services       9.418093e+00  ...
                           Professional Services    0.000000e+00  ...
                           Innovation & Technology -3.483510e+00  ...
Shenzhen                   Manufacturing & Trading  1.136868e-13  ...
                           Retail & Wholesale       9.143198e+01  ...
                           Financial Services       2.203125e+00  ...
                           Professional Services   -6.084104e+00  ...
                           Innovation & Technology -6.652452e+01  ...
Foshan                     Manufacturing & Trading  2.831133e+02  ...
                           Retail & Wholesale       0.000000e+00  ...
                           Financial Services       4.406492e-02  ...
                           Professional Services    4.800039e-02  ...
                           Innovation & Technology  0.000000e+00  ...
Dongguan                   Manufacturing & Trading -3.025908e+02  ...
                           Retail & Wholesale      -6.130088e+00  ...
                           Financial Services      -2.049393e-01  ...
                           Professional Services    4.899622e-01  ...
                           Innovation & Technology  0.000000e+00  ...
Macao and other GBA cities Manufacturing & Trading -3.374506e+02  ...
                           Retail & Wholesale       8.872319e+00  ...
                           Financial Services      -6.677747e-02  ...
                           Professional Services   -1.464266e-01  ...
                           Innovation & Technology  0.000000e+00  ...

                                                            Q06B  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading  3.406861e+02
                           Retail & Wholesale      -1.421085e-14
                           Financial Services      -1.010146e+01
                           Professional Services   -1.486628e+01
                           Innovation & Technology -1.629986e+00
Guangzhou                  Manufacturing & Trading -2.072838e+02
                           Retail & Wholesale       7.105427e-15
                           Financial Services       5.381767e+00
                           Professional Services    4.426543e+00
                           Innovation & Technology -1.219228e+01
Shenzhen                   Manufacturing & Trading  0.000000e+00
                           Retail & Wholesale       0.000000e+00
                           Financial Services      -8.812499e+00
                           Professional Services   -1.521026e+00
                           Innovation & Technology  3.326226e+01
Foshan                     Manufacturing & Trading -7.077832e+01
                           Retail & Wholesale       7.860970e+00
                           Financial Services       0.000000e+00
                           Professional Services    0.000000e+00
                           Innovation & Technology  0.000000e+00
Dongguan                   Manufacturing & Trading  1.512954e+02
                           Retail & Wholesale       0.000000e+00
                           Financial Services      -4.098787e-02
                           Professional Services   -4.899622e-01
                           Innovation & Technology  0.000000e+00
Macao and other GBA cities Manufacturing & Trading -1.312308e+02
                           Retail & Wholesale      -4.929066e+00
                           Financial Services       4.451831e-02
                           Professional Services    4.392797e-01
                           Innovation & Technology  0.000000e+00

                                                            Q07B  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading -9.084961e+02
                           Retail & Wholesale       1.576874e+02
                           Financial Services       2.020292e+01
                           Professional Services   -5.946513e+01
                           Innovation & Technology  0.000000e+00
Guangzhou                  Manufacturing & Trading -4.145675e+02
                           Retail & Wholesale      -5.178118e+01
                           Financial Services       2.690884e+00
                           Professional Services   -1.475514e+00
                           Innovation & Technology -8.708774e+00
Shenzhen                   Manufacturing & Trading  2.240267e+03
                           Retail & Wholesale       1.828640e+02
                           Financial Services       4.406249e+00
                           Professional Services   -3.042052e+00
                           Innovation & Technology  3.326226e+01
Foshan                     Manufacturing & Trading -2.842171e-14
                           Retail & Wholesale       1.965243e+00
                           Financial Services      -4.406492e-02
                           Professional Services   -4.800039e-02
                           Innovation & Technology  0.000000e+00
Dongguan                   Manufacturing & Trading  3.025908e+02
                           Retail & Wholesale       1.430354e+01
                           Financial Services      -1.639515e-01
                           Professional Services    0.000000e+00
                           Innovation & Technology  0.000000e+00
Macao and other GBA cities Manufacturing & Trading  7.498902e+01
                           Retail & Wholesale      -9.858132e-01
                           Financial Services      -2.225916e-01
                           Professional Services   -5.124929e-01
                           Innovation & Technology  0.000000e+00

                                                            Q08B        Q09B  \
City_group                 Industry
Hong Kong                  Manufacturing & Trading  4.542481e+02  113.562019
                           Retail & Wholesale       1.182656e+02  -78.843704
                           Financial Services       5.050731e+01    0.000000
                           Professional Services   -4.459885e+01  -29.732566
                           Innovation & Technology -4.889959e+00   -1.629986
Guangzhou                  Manufacturing & Trading  0.000000e+00    0.000000
                           Retail & Wholesale      -7.105427e-15  155.343531
                           Financial Services      -1.345442e+00    1.345442
                           Professional Services    4.426543e+00    5.902057
                           Innovation & Technology  0.000000e+00   -3.483510
Shenzhen                   Manufacturing & Trading  1.344160e+03  448.053431
                           Retail & Wholesale       0.000000e+00  -45.715992
                           Financial Services       2.203125e+00   -2.203125
                           Professional Services    3.042052e+00    0.000000
                           Innovation & Technology  3.552714e-15   44.349678
Foshan                     Manufacturing & Trading -1.415566e+02  212.334973
                           Retail & Wholesale       1.572194e+01    1.965243
                           Financial Services      -1.321948e-01    0.022032
                           Professional Services   -1.920016e-01    0.048000
                           Innovation & Technology  0.000000e+00    0.000000
Dongguan                   Manufacturing & Trading -7.564770e+01  151.295399
                           Retail & Wholesale       8.173451e+00   -4.086725
                           Financial Services      -8.197573e-02    0.163951

In [112]:
# transpose the result
responses_weighted_sum_byquestion_city_GROUP_then_industry = bycity_GROUP_then_industry.T

In [113]:
responses_weighted_sum_byquestion_city_GROUP_then_industry

City_group               Hong Kong                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                    340.686056       7.884370e+01         -20.202923
Q04A                      0.000000      -1.971093e+02          30.304385
Q05A                    227.124037       1.971093e+02          40.405846
Q06A                   -113.562019      -1.182656e+02          40.405846
Q07A                   -113.562019      -1.421085e-14           0.000000
Q08A                   -794.934131       7.884370e+01         -10.101462
Q09A                      0.000000       0.000000e+00          10.101462
Q10A                   -340.686056      -2.759530e+02         -20.202923
Q03B                    454.248075      -1.182656e+02           0.000000
Q04B                      0.000000      -7.884370e+01          20.202923
Q05B                    113.562019       0.000000e+00          30.304385
Q06B                    340.686056      -1.421085e-14         -10.101462
Q07B                   -908.496149       1.576874e+02          20.202923
Q08B                    454.248075       1.182656e+02          50.507308
Q09B                    113.562019      -7.884370e+01           0.000000
Q10B                   -340.686056       3.942185e+01         -10.101462
Q13A                   -340.686056      -7.884370e+01         -10.101462
Q14A                    340.686056       7.884370e+01          10.101462
Q15A                   -113.562019      -3.942185e+01          10.101462
Q16A                    227.124037      -3.942185e+01         -30.304385
Q17A                    340.686056       1.182656e+02         -50.507308

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                   44.598848                1.629986
Q04A                   59.465131               -4.889959
Q05A                   44.598848               -8.149932
Q06A                   44.598848                3.259973
Q07A                  -59.465131                1.629986
Q08A                  -74.331414                1.629986
Q09A                    0.000000                1.629986
Q10A                  -29.732566                0.000000
Q03B                  -29.732566                4.889959
Q04B                   59.465131                1.629986
Q05B                   14.866283               -4.889959
Q06B                  -14.866283               -1.629986
Q07B                  -59.465131                0.000000
Q08B                  -44.598848               -4.889959
Q09B                  -29.732566               -1.629986
Q10B                  -44.598848                4.889959
Q13A                  104.063980               -1.629986
Q14A                   14.866283                0.000000
Q15A                  -14.866283                1.629986
Q16A                  178.395394              -14.669878
Q17A                  -14.866283                0.000000

City_group               Guangzhou                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                    414.567542      -1.035624e+02          -2.690884
Q04A                      0.000000       2.589059e+01           2.690884
Q05A                   -207.283771      -2.589059e+02           4.036325
Q06A                   -414.567542      -2.589059e+01           0.000000
Q07A                   -621.851313       7.767177e+01          -5.381767
Q08A                      0.000000       1.294529e+02           0.000000
Q09A                   -414.567542       5.178118e+01           2.690884
Q10A                      0.000000      -7.105427e-15          -2.690884
Q03B                    621.851313      -1.812341e+02           6.727209
Q04B                   -207.283771       1.294529e+02           9.418093
Q05B                    621.851313      -7.767177e+01           1.345442
Q06B                   -207.283771       7.105427e-15           5.381767
Q07B                   -414.567542      -5.178118e+01           2.690884
Q08B                      0.000000      -7.105427e-15          -1.345442
Q09B                      0.000000       1.553435e+02           1.345442
Q10B                    621.851313       5.178118e+01           4.036325
Q13A                   -829.135083       5.178118e+01          -2.690884
Q14A                   -621.851313      -1.035624e+02           5.381767
Q15A                   -621.851313      -7.767177e+01           5.381767
Q16A                    621.851313       1.812341e+02           5.381767
Q17A                   -829.135083       1.553435e+02           2.690884

City_group                                                ...  \
Industry   Professional Services Innovation & Technology  ...
Q03A                    1.475514           -3.483510e+00  ...
Q04A                    4.426543            1.915930e+01  ...
Q05A                   -1.475514           -6.967019e+00  ...
Q06A                   -5.902057            6.967019e+00  ...
Q07A                    5.902057            3.483510e+00  ...
Q08A                    1.475514            3.483510e+00  ...
Q09A                    0.000000           -1.741755e+00  ...
Q10A                    8.853086            8.708774e+00  ...
Q03B                    0.000000            1.741755e+00  ...
Q04B                    0.000000           -3.483510e+00  ...
Q05B                    1.475514            3.483510e+00  ...
Q06B                    4.426543           -1.219228e+01  ...
Q07B                   -1.475514           -8.708774e+00  ...
Q08B                    4.426543            0.000000e+00  ...
Q09B                    5.902057           -3.483510e+00  ...
Q10B                   -5.902057           -1.741755e+00  ...
Q13A                   -1.475514            0.000000e+00  ...
Q14A                    7.377571           -3.483510e+00  ...
Q15A                   -4.426543           -6.967019e+00  ...
Q16A                   -5.902057           -3.483510e+00  ...
Q17A                   -2.951029            4.440892e-16  ...

City_group                Dongguan                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                 -7.564770e+01       2.043363e+00           0.000000
Q04A                  2.269431e+02       1.839026e+01          -0.122964
Q05A                  7.564770e+01      -1.839026e+01          -0.122964
Q06A                  2.269431e+02       4.086725e+00           0.000000
Q07A                  2.269431e+02       8.173451e+00          -0.040988
Q08A                  1.512954e+02      -4.086725e+00          -0.163951
Q09A                 -1.512954e+02       2.043363e+00          -0.163951
Q10A                 -2.269431e+02      -1.430354e+01          -0.081976
Q03B                  0.000000e+00       2.043363e+00          -0.081976
Q04B                 -3.025908e+02      -6.130088e+00          -0.204939
Q05B                  1.512954e+02      -6.130088e+00           0.122964
Q06B                  1.512954e+02       0.000000e+00          -0.040988
Q07B                  3.025908e+02       1.430354e+01          -0.163951
Q08B                 -7.564770e+01       8.173451e+00          -0.081976
Q09B                  1.512954e+02      -4.086725e+00           0.163951
Q10B                 -2.269431e+02       8.173451e+00          -0.040988
Q13A                  3.025908e+02       2.043363e+00          -0.040988
Q14A                 -7.564770e+01       8.173451e+00           0.204939
Q15A                 -2.842171e-14       4.086725e+00           0.000000
Q16A                 -7.564770e+01       8.881784e-16           0.163951
Q17A                  0.000000e+00       4.086725e+00          -0.081976

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                   -0.612453                     0.0
Q04A                   -0.489962                     0.0
Q05A                   -0.367472                     0.0
Q06A                   -0.122491                     0.0
Q07A                   -0.734943                     0.0
Q08A                   -0.244981                     0.0
Q09A                    0.244981                     0.0
Q10A                   -0.367472                     0.0
Q03B                   -0.122491                     0.0
Q04B                    0.489962                     0.0
Q05B                   -0.122491                     0.0
Q06B                   -0.489962                     0.0
Q07B                    0.000000                     0.0
Q08B                    0.122491                     0.0
Q09B                    0.000000                     0.0
Q10B                    0.857434                     0.0
Q13A                   -0.122491                     0.0
Q14A                   -0.122491                     0.0
Q15A                   -0.367472                     0.0
Q16A                   -0.122491                     0.0
Q17A                    0.367472                     0.0

City_group Macao and other GBA cities                                        \
Industry      Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                       262.461586       1.281557e+01      -1.558141e-01
Q04A                       131.230793       1.380139e+01       1.112958e-01
Q05A                        74.989025      -4.929066e+00       5.119606e-01
Q06A                      -243.714330      -7.886506e+00      -3.338873e-01
Q07A                       -37.494512      -5.914879e+00      -1.112958e-01
Q08A                        93.736281      -3.943253e+00      -1.558141e-01
Q09A                       112.483537      -4.929066e+00       1.335549e-01
Q10A                      -112.483537      -6.900693e+00      -6.677747e-02
Q03B                       -93.736281      -2.220446e-16      -2.003324e-01
Q04B                      -337.450611       8.872319e+00      -6.677747e-02
Q05B                      -131.230793      -4.929066e+00      -4.451831e-02
Q06B                      -131.230793      -4.929066e+00       4.451831e-02
Q07B                        74.989025      -9.858132e-01      -2.225916e-01
Q08B                       -93.736281       1.577301e+01      -1.112958e-01
Q09B                        37.494512      -9.858132e+00      -2.225916e-02
Q10B                      -281.208842       6.900693e+00       3.784057e-01
Q13A                       168.725305      -9.858132e-01       2.081668e-17
Q14A                         0.000000      -3.943253e+00      -2.671099e-01
Q15A                      -281.208842       9.858132e+00      -2.225916e-02
Q16A                      -224.967074       7.886506e+00       1.780733e-01
Q17A                       -37.494512       1.971626e+00      -4.451831e-02

City_group
Industry   Professional Services Innovation & Technology
Q03A                    0.219640                     0.0
Q04A                    0.146427                     0.0
Q05A                    1.171412                     0.0
Q06A                    0.658919                     0.0
Q07A                   -0.585706                     0.0
Q08A                    1.464266                     0.0
Q09A                   -0.366066                     0.0
Q10A                   -0.732133                     0.0
Q03B                   -0.292853                     0.0
Q04B                   -0.146427                     0.0
Q05B                   -0.292853                     0.0
Q06B                    0.439280                     0.0
Q07B                   -0.512493                     0.0
Q08B                   -0.146427                     0.0
Q09B                   -0.146427                     0.0
Q10B                    0.146427                     0.0
Q13A                    0.219640                     0.0
Q14A                    0.073213                     0.0
Q15A                    0.219640                     0.0
Q16A                   -0.732133                     0.0
Q17A                    0.732133                     0.0

[21 rows x 30 columns]

In [114]:
# export responses_weighted_sum_byquestion_city_group_then_industry
responses_weighted_sum_byquestion_city_GROUP_then_industry.to_excel(f"{store_folder}/reference_Part5.2_responses_weighted_sum_byquestion_city_GROUP_then_industry.xlsx", na_rep='N.A.')

In [115]:
# divide each column by according city weighted sum value(WEIGHTED_SUM_score_CITY_GROUP_1D)
responses_weighted_sum_byquestion_city_GROUP_then_industry / WEIGHTED_SUM_score_1D

City_group               Hong Kong                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                      0.157895       1.538462e-01          -0.086957
Q04A                      0.000000      -3.846154e-01           0.130435
Q05A                      0.105263       3.846154e-01           0.173913
Q06A                     -0.052632      -2.307692e-01           0.173913
Q07A                     -0.052632      -2.772936e-17           0.000000
Q08A                     -0.368421       1.538462e-01          -0.043478
Q09A                      0.000000       0.000000e+00           0.043478
Q10A                     -0.157895      -5.384615e-01          -0.086957
Q03B                      0.210526      -2.307692e-01           0.000000
Q04B                      0.000000      -1.538462e-01           0.086957
Q05B                      0.052632       0.000000e+00           0.130435
Q06B                      0.157895      -2.772936e-17          -0.043478
Q07B                     -0.421053       3.076923e-01           0.086957
Q08B                      0.210526       2.307692e-01           0.217391
Q09B                      0.052632      -1.538462e-01           0.000000
Q10B                     -0.157895       7.692308e-02          -0.043478
Q13A                     -0.157895      -1.538462e-01          -0.043478
Q14A                      0.157895       1.538462e-01           0.043478
Q15A                     -0.052632      -7.692308e-02           0.043478
Q16A                      0.105263      -7.692308e-02          -0.130435
Q17A                      0.157895       2.307692e-01          -0.217391

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                        0.12                0.071429
Q04A                        0.16               -0.214286
Q05A                        0.12               -0.357143
Q06A                        0.12                0.142857
Q07A                       -0.16                0.071429
Q08A                       -0.20                0.071429
Q09A                        0.00                0.071429
Q10A                       -0.08                0.000000
Q03B                       -0.08                0.214286
Q04B                        0.16                0.071429
Q05B                        0.04               -0.214286
Q06B                       -0.04               -0.071429
Q07B                       -0.16                0.000000
Q08B                       -0.12               -0.214286
Q09B                       -0.08               -0.071429
Q10B                       -0.12                0.214286
Q13A                        0.28               -0.071429
Q14A                        0.04                0.000000
Q15A                       -0.04                0.071429
Q16A                        0.48               -0.642857
Q17A                       -0.04                0.000000

City_group               Guangzhou                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                           0.2      -1.666667e-01          -0.166667
Q04A                           0.0       4.166667e-02           0.166667
Q05A                          -0.1      -4.166667e-01           0.250000
Q06A                          -0.2      -4.166667e-02           0.000000
Q07A                          -0.3       1.250000e-01          -0.333333
Q08A                           0.0       2.083333e-01           0.000000
Q09A                          -0.2       8.333333e-02           0.166667
Q10A                           0.0      -1.143502e-17          -0.166667
Q03B                           0.3      -2.916667e-01           0.416667
Q04B                          -0.1       2.083333e-01           0.583333
Q05B                           0.3      -1.250000e-01           0.083333
Q06B                          -0.1       1.143502e-17           0.333333
Q07B                          -0.2      -8.333333e-02           0.166667
Q08B                           0.0      -1.143502e-17          -0.083333
Q09B                           0.0       2.500000e-01           0.083333
Q10B                           0.3       8.333333e-02           0.250000
Q13A                          -0.4       8.333333e-02          -0.166667
Q14A                          -0.3      -1.666667e-01           0.333333
Q15A                          -0.3      -1.250000e-01           0.333333
Q16A                           0.3       2.916667e-01           0.333333
Q17A                          -0.4       2.500000e-01           0.166667

City_group                                                ...  \
Industry   Professional Services Innovation & Technology  ...
Q03A                    0.038462           -1.250000e-01  ...
Q04A                    0.115385            6.875000e-01  ...
Q05A                   -0.038462           -2.500000e-01  ...
Q06A                   -0.153846            2.500000e-01  ...
Q07A                    0.153846            1.250000e-01  ...
Q08A                    0.038462            1.250000e-01  ...
Q09A                    0.000000           -6.250000e-02  ...
Q10A                    0.230769            3.125000e-01  ...
Q03B                    0.000000            6.250000e-02  ...
Q04B                    0.000000           -1.250000e-01  ...
Q05B                    0.038462            1.250000e-01  ...
Q06B                    0.115385           -4.375000e-01  ...
Q07B                   -0.038462           -3.125000e-01  ...
Q08B                    0.115385            0.000000e+00  ...
Q09B                    0.153846           -1.250000e-01  ...
Q10B                   -0.153846           -6.250000e-02  ...
Q13A                   -0.038462            0.000000e+00  ...
Q14A                    0.192308           -1.250000e-01  ...
Q15A                   -0.115385           -2.500000e-01  ...
Q16A                   -0.153846           -1.250000e-01  ...
Q17A                   -0.076923            1.593541e-17  ...

City_group                Dongguan                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                 -6.250000e-02       4.347826e-02           0.000000
Q04A                  1.875000e-01       3.913043e-01          -0.230769
Q05A                  6.250000e-02      -3.913043e-01          -0.230769
Q06A                  1.875000e-01       8.695652e-02           0.000000
Q07A                  1.875000e-01       1.739130e-01          -0.076923
Q08A                  1.250000e-01      -8.695652e-02          -0.307692
Q09A                 -1.250000e-01       4.347826e-02          -0.307692
Q10A                 -1.875000e-01      -3.043478e-01          -0.153846
Q03B                  0.000000e+00       4.347826e-02          -0.153846
Q04B                 -2.500000e-01      -1.304348e-01          -0.384615
Q05B                  1.250000e-01      -1.304348e-01           0.230769
Q06B                  1.250000e-01       0.000000e+00          -0.076923
Q07B                  2.500000e-01       3.043478e-01          -0.307692
Q08B                 -6.250000e-02       1.739130e-01          -0.153846
Q09B                  1.250000e-01      -8.695652e-02           0.307692
Q10B                 -1.875000e-01       1.739130e-01          -0.076923
Q13A                  2.500000e-01       4.347826e-02          -0.076923
Q14A                 -6.250000e-02       1.739130e-01           0.384615
Q15A                 -2.348197e-17       8.695652e-02           0.000000
Q16A                 -6.250000e-02       1.889848e-17           0.307692
Q17A                  0.000000e+00       8.695652e-02          -0.153846

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                   -0.227273                     NaN
Q04A                   -0.181818                     NaN
Q05A                   -0.136364                     NaN
Q06A                   -0.045455                     NaN
Q07A                   -0.272727                     NaN
Q08A                   -0.090909                     NaN
Q09A                    0.090909                     NaN
Q10A                   -0.136364                     NaN
Q03B                   -0.045455                     NaN
Q04B                    0.181818                     NaN
Q05B                   -0.045455                     NaN
Q06B                   -0.181818                     NaN
Q07B                    0.000000                     NaN
Q08B                    0.045455                     NaN
Q09B                    0.000000                     NaN
Q10B                    0.318182                     NaN
Q13A                   -0.045455                     NaN
Q14A                   -0.045455                     NaN
Q15A                   -0.136364                     NaN
Q16A                   -0.045455                     NaN
Q17A                    0.136364                     NaN

City_group Macao and other GBA cities                                        \
Industry      Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                         0.118644       1.250000e-01      -5.600000e-02
Q04A                         0.059322       1.346154e-01       4.000000e-02
Q05A                         0.033898      -4.807692e-02       1.840000e-01
Q06A                        -0.110169      -7.692308e-02      -1.200000e-01
Q07A                        -0.016949      -5.769231e-02      -4.000000e-02
Q08A                         0.042373      -3.846154e-02      -5.600000e-02
Q09A                         0.050847      -4.807692e-02       4.800000e-02
Q10A                        -0.050847      -6.730769e-02      -2.400000e-02
Q03B                        -0.042373      -2.165770e-18      -7.200000e-02
Q04B                        -0.152542       8.653846e-02      -2.400000e-02
Q05B                        -0.059322      -4.807692e-02      -1.600000e-02
Q06B                        -0.059322      -4.807692e-02       1.600000e-02
Q07B                         0.033898      -9.615385e-03      -8.000000e-02
Q08B                        -0.042373       1.538462e-01      -4.000000e-02
Q09B                         0.016949      -9.615385e-02      -8.000000e-03
Q10B                        -0.127119       6.730769e-02       1.360000e-01
Q13A                         0.076271      -9.615385e-03       7.481571e-18
Q14A                         0.000000      -3.846154e-02      -9.600000e-02
Q15A                        -0.127119       9.615385e-02      -8.000000e-03
Q16A                        -0.101695       7.692308e-02       6.400000e-02
Q17A                        -0.016949       1.923077e-02      -1.600000e-02

City_group
Industry   Professional Services Innovation & Technology
Q03A                    0.026786                     NaN
Q04A                    0.017857                     NaN
Q05A                    0.142857                     NaN
Q06A                    0.080357                     NaN
Q07A                   -0.071429                     NaN
Q08A                    0.178571                     NaN
Q09A                   -0.044643                     NaN
Q10A                   -0.089286                     NaN
Q03B                   -0.035714                     NaN
Q04B                   -0.017857                     NaN
Q05B                   -0.035714                     NaN
Q06B                    0.053571                     NaN
Q07B                   -0.062500                     NaN
Q08B                   -0.017857                     NaN
Q09B                   -0.017857                     NaN
Q10B                    0.017857                     NaN
Q13A                    0.026786                     NaN
Q14A                    0.008929                     NaN
Q15A                    0.026786                     NaN
Q16A                   -0.089286                     NaN
Q17A                    0.089286                     NaN

[21 rows x 30 columns]

##Part 5.3: WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY

In [116]:
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY = (responses_weighted_sum_byquestion_city_GROUP_then_industry / WEIGHTED_SUM_score_1D * 100 + 100)/2
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY

City_group               Hong Kong                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                     57.894737          57.692308          45.652174
Q04A                     50.000000          30.769231          56.521739
Q05A                     55.263158          69.230769          58.695652
Q06A                     47.368421          38.461538          58.695652
Q07A                     47.368421          50.000000          50.000000
Q08A                     31.578947          57.692308          47.826087
Q09A                     50.000000          50.000000          52.173913
Q10A                     42.105263          23.076923          45.652174
Q03B                     60.526316          38.461538          50.000000
Q04B                     50.000000          42.307692          54.347826
Q05B                     52.631579          50.000000          56.521739
Q06B                     57.894737          50.000000          47.826087
Q07B                     28.947368          65.384615          54.347826
Q08B                     60.526316          61.538462          60.869565
Q09B                     52.631579          42.307692          50.000000
Q10B                     42.105263          53.846154          47.826087
Q13A                     42.105263          42.307692          47.826087
Q14A                     57.894737          57.692308          52.173913
Q15A                     47.368421          46.153846          52.173913
Q16A                     55.263158          46.153846          43.478261
Q17A                     57.894737          61.538462          39.130435

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                        56.0               53.571429
Q04A                        58.0               39.285714
Q05A                        56.0               32.142857
Q06A                        56.0               57.142857
Q07A                        42.0               53.571429
Q08A                        40.0               53.571429
Q09A                        50.0               53.571429
Q10A                        46.0               50.000000
Q03B                        46.0               60.714286
Q04B                        58.0               53.571429
Q05B                        52.0               39.285714
Q06B                        48.0               46.428571
Q07B                        42.0               50.000000
Q08B                        44.0               39.285714
Q09B                        46.0               46.428571
Q10B                        44.0               60.714286
Q13A                        64.0               46.428571
Q14A                        52.0               50.000000
Q15A                        48.0               53.571429
Q16A                        74.0               17.857143
Q17A                        48.0               50.000000

City_group               Guangzhou                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                          60.0          41.666667          41.666667
Q04A                          50.0          52.083333          58.333333
Q05A                          45.0          29.166667          62.500000
Q06A                          40.0          47.916667          50.000000
Q07A                          35.0          56.250000          33.333333
Q08A                          50.0          60.416667          50.000000
Q09A                          40.0          54.166667          58.333333
Q10A                          50.0          50.000000          41.666667
Q03B                          65.0          35.416667          70.833333
Q04B                          45.0          60.416667          79.166667
Q05B                          65.0          43.750000          54.166667
Q06B                          45.0          50.000000          66.666667
Q07B                          40.0          45.833333          58.333333
Q08B                          50.0          50.000000          45.833333
Q09B                          50.0          62.500000          54.166667
Q10B                          65.0          54.166667          62.500000
Q13A                          30.0          54.166667          41.666667
Q14A                          35.0          41.666667          66.666667
Q15A                          35.0          43.750000          66.666667
Q16A                          65.0          64.583333          66.666667
Q17A                          30.0          62.500000          58.333333

City_group                                                ...  \
Industry   Professional Services Innovation & Technology  ...
Q03A                   51.923077                  43.750  ...
Q04A                   55.769231                  84.375  ...
Q05A                   48.076923                  37.500  ...
Q06A                   42.307692                  62.500  ...
Q07A                   57.692308                  56.250  ...
Q08A                   51.923077                  56.250  ...
Q09A                   50.000000                  46.875  ...
Q10A                   61.538462                  65.625  ...
Q03B                   50.000000                  53.125  ...
Q04B                   50.000000                  43.750  ...
Q05B                   51.923077                  56.250  ...
Q06B                   55.769231                  28.125  ...
Q07B                   48.076923                  34.375  ...
Q08B                   55.769231                  50.000  ...
Q09B                   57.692308                  43.750  ...
Q10B                   42.307692                  46.875  ...
Q13A                   48.076923                  50.000  ...
Q14A                   59.615385                  43.750  ...
Q15A                   44.230769                  37.500  ...
Q16A                   42.307692                  43.750  ...
Q17A                   46.153846                  50.000  ...

City_group                Dongguan                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                        46.875          52.173913          50.000000
Q04A                        59.375          69.565217          38.461538
Q05A                        53.125          30.434783          38.461538
Q06A                        59.375          54.347826          50.000000
Q07A                        59.375          58.695652          46.153846
Q08A                        56.250          45.652174          34.615385
Q09A                        43.750          52.173913          34.615385
Q10A                        40.625          34.782609          42.307692
Q03B                        50.000          52.173913          42.307692
Q04B                        37.500          43.478261          30.769231
Q05B                        56.250          43.478261          61.538462
Q06B                        56.250          50.000000          46.153846
Q07B                        62.500          65.217391          34.615385
Q08B                        46.875          58.695652          42.307692
Q09B                        56.250          45.652174          65.384615
Q10B                        40.625          58.695652          46.153846
Q13A                        62.500          52.173913          46.153846
Q14A                        46.875          58.695652          69.230769
Q15A                        50.000          54.347826          50.000000
Q16A                        46.875          50.000000          65.384615
Q17A                        50.000          54.347826          42.307692

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                   38.636364                     NaN
Q04A                   40.909091                     NaN
Q05A                   43.181818                     NaN
Q06A                   47.727273                     NaN
Q07A                   36.363636                     NaN
Q08A                   45.454545                     NaN
Q09A                   54.545455                     NaN
Q10A                   43.181818                     NaN
Q03B                   47.727273                     NaN
Q04B                   59.090909                     NaN
Q05B                   47.727273                     NaN
Q06B                   40.909091                     NaN
Q07B                   50.000000                     NaN
Q08B                   52.272727                     NaN
Q09B                   50.000000                     NaN
Q10B                   65.909091                     NaN
Q13A                   47.727273                     NaN
Q14A                   47.727273                     NaN
Q15A                   43.181818                     NaN
Q16A                   47.727273                     NaN
Q17A                   56.818182                     NaN

City_group Macao and other GBA cities                                        \
Industry      Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                        55.932203          56.250000               47.2
Q04A                        52.966102          56.730769               52.0
Q05A                        51.694915          47.596154               59.2
Q06A                        44.491525          46.153846               44.0
Q07A                        49.152542          47.115385               48.0
Q08A                        52.118644          48.076923               47.2
Q09A                        52.542373          47.596154               52.4
Q10A                        47.457627          46.634615               48.8
Q03B                        47.881356          50.000000               46.4
Q04B                        42.372881          54.326923               48.8
Q05B                        47.033898          47.596154               49.2
Q06B                        47.033898          47.596154               50.8
Q07B                        51.694915          49.519231               46.0
Q08B                        47.881356          57.692308               48.0
Q09B                        50.847458          45.192308               49.6
Q10B                        43.644068          53.365385               56.8
Q13A                        53.813559          49.519231               50.0
Q14A                        50.000000          48.076923               45.2
Q15A                        43.644068          54.807692               49.6
Q16A                        44.915254          53.846154               53.2
Q17A                        49.152542          50.961538               49.2

City_group
Industry   Professional Services Innovation & Technology
Q03A                   51.339286                     NaN
Q04A                   50.892857                     NaN
Q05A                   57.142857                     NaN
Q06A                   54.017857                     NaN
Q07A                   46.428571                     NaN
Q08A                   58.928571                     NaN
Q09A                   47.767857                     NaN
Q10A                   45.535714                     NaN
Q03B                   48.214286                     NaN
Q04B                   49.107143                     NaN
Q05B                   48.214286                     NaN
Q06B                   52.678571                     NaN
Q07B                   46.875000                     NaN
Q08B                   49.107143                     NaN
Q09B                   49.107143                     NaN
Q10B                   50.892857                     NaN
Q13A                   51.339286                     NaN
Q14A                   50.446429                     NaN
Q15A                   51.339286                     NaN
Q16A                   45.535714                     NaN
Q17A                   54.464286                     NaN

[21 rows x 30 columns]

In [117]:
# Q13, Q14 are related to financing cost, need to adjusted to 100-X
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.loc['Q13A'] = 100-WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.loc['Q13A']
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.loc['Q14A'] = 100-WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.loc['Q14A']
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY

City_group               Hong Kong                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                     57.894737          57.692308          45.652174
Q04A                     50.000000          30.769231          56.521739
Q05A                     55.263158          69.230769          58.695652
Q06A                     47.368421          38.461538          58.695652
Q07A                     47.368421          50.000000          50.000000
Q08A                     31.578947          57.692308          47.826087
Q09A                     50.000000          50.000000          52.173913
Q10A                     42.105263          23.076923          45.652174
Q03B                     60.526316          38.461538          50.000000
Q04B                     50.000000          42.307692          54.347826
Q05B                     52.631579          50.000000          56.521739
Q06B                     57.894737          50.000000          47.826087
Q07B                     28.947368          65.384615          54.347826
Q08B                     60.526316          61.538462          60.869565
Q09B                     52.631579          42.307692          50.000000
Q10B                     42.105263          53.846154          47.826087
Q13A                     57.894737          57.692308          52.173913
Q14A                     42.105263          42.307692          47.826087
Q15A                     47.368421          46.153846          52.173913
Q16A                     55.263158          46.153846          43.478261
Q17A                     57.894737          61.538462          39.130435

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                        56.0               53.571429
Q04A                        58.0               39.285714
Q05A                        56.0               32.142857
Q06A                        56.0               57.142857
Q07A                        42.0               53.571429
Q08A                        40.0               53.571429
Q09A                        50.0               53.571429
Q10A                        46.0               50.000000
Q03B                        46.0               60.714286
Q04B                        58.0               53.571429
Q05B                        52.0               39.285714
Q06B                        48.0               46.428571
Q07B                        42.0               50.000000
Q08B                        44.0               39.285714
Q09B                        46.0               46.428571
Q10B                        44.0               60.714286
Q13A                        36.0               53.571429
Q14A                        48.0               50.000000
Q15A                        48.0               53.571429
Q16A                        74.0               17.857143
Q17A                        48.0               50.000000

City_group               Guangzhou                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                          60.0          41.666667          41.666667
Q04A                          50.0          52.083333          58.333333
Q05A                          45.0          29.166667          62.500000
Q06A                          40.0          47.916667          50.000000
Q07A                          35.0          56.250000          33.333333
Q08A                          50.0          60.416667          50.000000
Q09A                          40.0          54.166667          58.333333
Q10A                          50.0          50.000000          41.666667
Q03B                          65.0          35.416667          70.833333
Q04B                          45.0          60.416667          79.166667
Q05B                          65.0          43.750000          54.166667
Q06B                          45.0          50.000000          66.666667
Q07B                          40.0          45.833333          58.333333
Q08B                          50.0          50.000000          45.833333
Q09B                          50.0          62.500000          54.166667
Q10B                          65.0          54.166667          62.500000
Q13A                          70.0          45.833333          58.333333
Q14A                          65.0          58.333333          33.333333
Q15A                          35.0          43.750000          66.666667
Q16A                          65.0          64.583333          66.666667
Q17A                          30.0          62.500000          58.333333

City_group                                                ...  \
Industry   Professional Services Innovation & Technology  ...
Q03A                   51.923077                  43.750  ...
Q04A                   55.769231                  84.375  ...
Q05A                   48.076923                  37.500  ...
Q06A                   42.307692                  62.500  ...
Q07A                   57.692308                  56.250  ...
Q08A                   51.923077                  56.250  ...
Q09A                   50.000000                  46.875  ...
Q10A                   61.538462                  65.625  ...
Q03B                   50.000000                  53.125  ...
Q04B                   50.000000                  43.750  ...
Q05B                   51.923077                  56.250  ...
Q06B                   55.769231                  28.125  ...
Q07B                   48.076923                  34.375  ...
Q08B                   55.769231                  50.000  ...
Q09B                   57.692308                  43.750  ...
Q10B                   42.307692                  46.875  ...
Q13A                   51.923077                  50.000  ...
Q14A                   40.384615                  56.250  ...
Q15A                   44.230769                  37.500  ...
Q16A                   42.307692                  43.750  ...
Q17A                   46.153846                  50.000  ...

City_group                Dongguan                                        \
Industry   Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                        46.875          52.173913          50.000000
Q04A                        59.375          69.565217          38.461538
Q05A                        53.125          30.434783          38.461538
Q06A                        59.375          54.347826          50.000000
Q07A                        59.375          58.695652          46.153846
Q08A                        56.250          45.652174          34.615385
Q09A                        43.750          52.173913          34.615385
Q10A                        40.625          34.782609          42.307692
Q03B                        50.000          52.173913          42.307692
Q04B                        37.500          43.478261          30.769231
Q05B                        56.250          43.478261          61.538462
Q06B                        56.250          50.000000          46.153846
Q07B                        62.500          65.217391          34.615385
Q08B                        46.875          58.695652          42.307692
Q09B                        56.250          45.652174          65.384615
Q10B                        40.625          58.695652          46.153846
Q13A                        37.500          47.826087          53.846154
Q14A                        53.125          41.304348          30.769231
Q15A                        50.000          54.347826          50.000000
Q16A                        46.875          50.000000          65.384615
Q17A                        50.000          54.347826          42.307692

City_group                                                \
Industry   Professional Services Innovation & Technology
Q03A                   38.636364                     NaN
Q04A                   40.909091                     NaN
Q05A                   43.181818                     NaN
Q06A                   47.727273                     NaN
Q07A                   36.363636                     NaN
Q08A                   45.454545                     NaN
Q09A                   54.545455                     NaN
Q10A                   43.181818                     NaN
Q03B                   47.727273                     NaN
Q04B                   59.090909                     NaN
Q05B                   47.727273                     NaN
Q06B                   40.909091                     NaN
Q07B                   50.000000                     NaN
Q08B                   52.272727                     NaN
Q09B                   50.000000                     NaN
Q10B                   65.909091                     NaN
Q13A                   52.272727                     NaN
Q14A                   52.272727                     NaN
Q15A                   43.181818                     NaN
Q16A                   47.727273                     NaN
Q17A                   56.818182                     NaN

City_group Macao and other GBA cities                                        \
Industry      Manufacturing & Trading Retail & Wholesale Financial Services
Q03A                        55.932203          56.250000               47.2
Q04A                        52.966102          56.730769               52.0
Q05A                        51.694915          47.596154               59.2
Q06A                        44.491525          46.153846               44.0
Q07A                        49.152542          47.115385               48.0
Q08A                        52.118644          48.076923               47.2
Q09A                        52.542373          47.596154               52.4
Q10A                        47.457627          46.634615               48.8
Q03B                        47.881356          50.000000               46.4
Q04B                        42.372881          54.326923               48.8
Q05B                        47.033898          47.596154               49.2
Q06B                        47.033898          47.596154               50.8
Q07B                        51.694915          49.519231               46.0
Q08B                        47.881356          57.692308               48.0
Q09B                        50.847458          45.192308               49.6
Q10B                        43.644068          53.365385               56.8
Q13A                        46.186441          50.480769               50.0
Q14A                        50.000000          51.923077               54.8
Q15A                        43.644068          54.807692               49.6
Q16A                        44.915254          53.846154               53.2
Q17A                        49.152542          50.961538               49.2

City_group
Industry   Professional Services Innovation & Technology
Q03A                   51.339286                     NaN
Q04A                   50.892857                     NaN
Q05A                   57.142857                     NaN
Q06A                   54.017857                     NaN
Q07A                   46.428571                     NaN
Q08A                   58.928571                     NaN
Q09A                   47.767857                     NaN
Q10A                   45.535714                     NaN
Q03B                   48.214286                     NaN
Q04B                   49.107143                     NaN
Q05B                   48.214286                     NaN
Q06B                   52.678571                     NaN
Q07B                   46.875000                     NaN
Q08B                   49.107143                     NaN
Q09B                   49.107143                     NaN
Q10B                   50.892857                     NaN
Q13A                   48.660714                     NaN
Q14A                   49.553571                     NaN
Q15A                   51.339286                     NaN
Q16A                   45.535714                     NaN
Q17A                   54.464286                     NaN

[21 rows x 30 columns]

In [118]:
# export to excel for reference
WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.to_excel(f"{store_folder}/reference_Part5.3_WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.xlsx", na_rep='N.A.')

##Part 5.4: WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX

In [119]:
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFORMANCE_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.loc[performance_columns].mean()

WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPECTATION_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.loc[expectation_columns].mean()

WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDIT_SUB_INDEX = WEIGHTED_INDEX_BYQUESTION_CITY_GROUP_furtherby_INDUSTRY.loc[credit_columns].mean()

WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX_DF = pd.DataFrame({
                                            'WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFORMANCE_SUB_INDEX': WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFORMANCE_SUB_INDEX,
                                            'WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPECTATION_SUB_INDEX': WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPECTATION_SUB_INDEX,
                                            'WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDIT_SUB_INDEX': WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDIT_SUB_INDEX}
                                            ).T    

WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX_DF.loc['WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADLINE_INDEX'] = WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX_DF.mean() 
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX_DF

City_group                                                       Hong Kong  \
Industry                                           Manufacturing & Trading
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...               47.697368
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...               50.657895
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...               52.105263
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...               50.153509

City_group                                                             \
Industry                                           Retail & Wholesale
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...          47.115385
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...          50.480769
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...          50.769231
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...          49.455128

City_group                                                             \
Industry                                           Financial Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...          51.902174
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...          52.717391
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...          46.956522
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...          50.525362

City_group                                                                \
Industry                                           Professional Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...                  50.5
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...                  47.5
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...                  50.8
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...                  49.6

City_group                                                                  \
Industry                                           Innovation & Technology
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...               49.107143
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...               49.553571
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...               45.000000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...               47.886905

City_group                                                       Guangzhou  \
Industry                                           Manufacturing & Trading
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...               46.250000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...               53.125000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...               53.000000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...               50.791667

City_group                                                             \
Industry                                           Retail & Wholesale
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...          48.958333
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...          50.260417
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...          55.000000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...          51.406250

City_group                                                             \
Industry                                           Financial Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...          49.479167
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...          61.458333
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...          56.666667
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...          55.868056

City_group                                                                \
Industry                                           Professional Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...             52.403846
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...             51.442308
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...             45.000000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...             49.615385

City_group                                                                  \
Industry                                           Innovation & Technology
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...               56.640625
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...               44.531250
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...               47.500000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...               49.557292

City_group                                          ...  \
Industry                                            ...
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...  ...
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...  ...
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...  ...
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...  ...

City_group                                                        Dongguan  \
Industry                                           Manufacturing & Trading
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...               52.343750
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...               50.781250
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...               47.500000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...               50.208333

City_group                                                             \
Industry                                           Retail & Wholesale
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...          49.728261
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...          52.173913
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...          49.565217
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...          50.489130

City_group                                                             \
Industry                                           Financial Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...          41.826923
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...          46.153846
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...          48.461538
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...          45.480769

City_group                                                                \
Industry                                           Professional Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...             43.750000
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...             51.704545
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...             50.454545
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...             48.636364

City_group                                                                  \
Industry                                           Innovation & Technology
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...                     NaN
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...                     NaN
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...                     NaN
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...                     NaN

City_group                                         Macao and other GBA cities  \
Industry                                              Manufacturing & Trading
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...                  50.794492
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...                  47.298729
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...                  46.779661
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...                  48.290960

City_group                                                             \
Industry                                           Retail & Wholesale
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...          49.519231
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...          50.661058
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...          52.403846
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...          50.861378

City_group                                                             \
Industry                                           Financial Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...              49.85
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...              49.45
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...              51.36
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...              50.22

City_group                                                                \
Industry                                           Professional Services
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...             51.506696
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...             49.274554
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...             49.910714
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...             50.230655

City_group
Industry                                           Innovation & Technology
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_PERFO...                     NaN
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_EXPEC...                     NaN
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_CREDI...                     NaN
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_HEADL...                     NaN

[4 rows x 30 columns]

In [120]:
# export WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX result
WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX_DF .to_excel(f"{store_folder}/reference_Part5.4_WEIGHTED_BY_CITY_GROUP_furtherby_INDUSTRY_INDEX.xlsx", na_rep='N.A.')